[2017-12-11 13:29] szilardhuber opened #1 "Move visualisation layers behind the top label layer"
From @ryanbaumann : See this example for how to parse out the lowest label layer in the style to dynamically select the lowest label layer.  https://www.mapbox.com/mapbox-gl-js/example/geojson-layer-in-stack/

If there are no symbol layer types in a map style, we should default to put the data layer + data label layer at the top of the layer stack.

Use this same technique for the data viz plugin

[2017-12-11 13:30] szilardhuber opened #2 "Data selection filter (map -> other dashboard components)"
Users should be able to select a feature or set of features from the map using a bounding box selector.  Features in the selected region should be passed as a filter to other dashboard visualizaitons.  See this for an example: https://www.mapbox.com/mapbox-gl-js/example/using-box-queryrenderedfeatures/

[2017-12-11 13:31] szilardhuber opened #3 "Add an option for a symbol layer showing the actual values of the dimensions"
From @ryanbaumann See this GL JS example for inspiration on labels on clusters circles - https://www.mapbox.com/mapbox-gl-js/example/cluster/

I'd recommend adding the label dimension as a separate dimension you can add to the visual in the data pannel for the viz.

[2017-12-11 13:32] szilardhuber opened #4 "Zoom to data extent on change"
Map should zoom to extent on data load and data change

[2017-12-11 13:36] szilardhuber opened #5 "Add test framework"
Follow testing guidelines from https://github.com/mapbox/mapbox-gl-js

[2017-12-11 15:15] ryanbaumann opened #6 "Upgrade to PowerBI Custom Visual tools (API v1.9)"
https://github.com/Microsoft/PowerBI-visuals-tools

This update from api 1.7 should apparently fix the `window.window` hack required to use `mapboxgl`.  https://github.com/Microsoft/PowerBI-visuals/issues/262#issuecomment-335500723

v1.9 also supports a new function, `launchURL()` (https://github.com/Microsoft/PowerBI-visuals/blob/master/Tutorial/LaunchURL.md), which allows the custom visual to op

[2017-12-11 15:29] ryanbaumann opened #7 "Only require needed turf.js sub modules"
@szilardhuber we should only package up the turf modules we need to use in the custom viz.  The entire package is a pretty heavy JS library, which will cause the viz package to load slow on open.

https://github.com/mapbox/mapboxgl-powerbi/blob/master/src/js/mapboxglAdaptor.js#L3

[2017-12-11 15:59] ryanbaumann opened #8 "Add `Vector Tile URL` to choropleth options"
Currently, we can specify the Vector Property (to join to) and the Vector Layer ID.  These are perfect.  We also need to be able to specify the `Vector Tile URL` in order to point to the vector tile source used in the project.

Also, rename the Vector Layer ID to `Source Layer Name`.

[2017-12-15 06:32] ryanbaumann opened #10 "Add cluster style properties"
Cluster styles should have
* min/max color or color palette
* radius adjustment
* label layer on top of cluster indicating cluster value

[2017-12-15 06:34] ryanbaumann opened #11 "Cluster aggregations are `NaN` when updating cluster viz style"
Using a cluster viz type, updating the map style causes the cluster layer to disappear.

[2017-12-15 06:36] ryanbaumann opened #12 "Cleanup tooltip formatting"
* add tooltip for choropleths style
* always display a rooftop in a standard format using the dimension name : value
* tooltips update slowly - they should keep up with mouse cursor moving across the screen

[2017-12-15 06:39] ryanbaumann opened #13 "Circle color selection does not work"
When I select a new color from the palette for a circle layer type, the color ramp does not update.

* also add a min color, max color option just like the choropleths map

[2017-12-15 14:22] #8 closed, assigned to szilardhuber

[2017-12-17 02:23] ryanbaumann opened #15 "Cleanup Mapbox logo in visualization preview"
the icon of our plugin when I see it under Visualizations needs to be refined - it’s squished and pixelated now

[2017-12-17 03:45] #15 closed, assigned to nobody

[2017-12-17 03:46] #6 closed, assigned to szilardhuber

[2017-12-17 03:46] #10 closed, assigned to szilardhuber

[2017-12-17 03:47] #3 closed, assigned to szilardhuber

[2017-12-17 03:47] #4 closed, assigned to szilardhuber

[2017-12-17 16:36] #7 closed, assigned to szilardhuber

[2017-12-17 16:37] #1 closed, assigned to szilardhuber

[2017-12-19 23:16] #11 closed, assigned to nobody

[2017-12-21 13:56] ryanbaumann opened #18 "Map zoom-to-extents bugs"
# Issues

1. When changing map visualization types from circle to heatmap, heatmap to choropleth - the map does not zoom to the extent of the loaded data
2. When switching from Circle to Chloropleth map, the map re-triggers the visual to default settings
3. The map should zoom to extent on any `filter` or data change event, but not on any style change event (circle radius change, circle color chan

[2017-12-21 13:59] ryanbaumann opened #19 "Add Geocoder to visual"
- Viz should use a search box.  https://www.mapbox.com/mapbox-gl-js/example/mapbox-gl-geocoder/
- Viz settings should have a toggle to turn the search box on/off
- Viz search box should be on by default.
- Geocoder should have an option to drop a pin at the searched location. User should be able to turn dropping the pin off, and just zoom to the typed in location.
- Geocoder should have a dedicate

[2017-12-21 14:00] ryanbaumann opened #20 "Update Mapbox Icon in Visualizations"
![](https://cl.ly/430x101l0l35/download/Image%202017-12-21%20at%207.59.35%20AM.png)

Update Mapbox visual logo to have transparency with a white outline.  No white background.

cc @noemiwalzebuck

[2017-12-21 14:03] ryanbaumann opened #21 "Selected measures should match to most likely dimenion/measure fields"
When a user adds `Latitude` or `Longitude` to the viz, they should default to go to the proper data option in the viz.

Likewise, for measures - color, size should default to aggregated measures added to the viz.

Location should default to use `geo` measures from the viz - zip code, county, etc.

[2017-12-21 14:11] ryanbaumann opened #22 "Refactor color and size cals to always use domains, continuous color palettes"
All color and size interpolation calculations should:

**If data value is continuous/measure:**
1. Calculate natural breaks domains with geoStats - http://www.intermezzo-coop.eu/mapping/geostats/.  Domains should have 5-6 discrete breaks.
2. (if color) Calculate continuous color scales using the PowerBI Color palette selector UI and Chroma.js.
3. Create `interpolate` Mapboxgl expressions based on

[2017-12-21 14:41] ryanbaumann opened #23 "Choropleth map - add tooltips"
Choropleth maps should have tooltips.

Example tooltip framework for Choropleth:
www.mapbox.com/labs/vt-polygons
[code]

[2017-12-21 14:59] #12 closed, assigned to szilardhuber

[2018-01-04 04:07] ryanbaumann opened #24 "Add legend option to all maps"
# Feature request

Based on a users data visualization type, we should generate an optional legend to display.

Example in this tutorial of a good legend generation for color and size -> https://www.mapbox.com/help/gl-dds-map-tutorial/

@szilardhuber

[2018-01-04 04:08] ryanbaumann opened #25 "Add minzoom/maxzoom options for all viz types"
# Feature Request

For each viz type, we should enable a `minZoom` and `maxzoom` option that enables a user to control which zoom levels the visualization appears at.  See https://www.mapbox.com/mapbox-gl-js/example/updating-choropleth/ for an example.

@szilardhuber

[2018-01-04 04:10] ryanbaumann opened #26 "Cluster aggregation - what measure aggregates?"
# Problem

Currently, it is unclear which property aggregates for a user when they enable cluster property aggregation.

![](https://cl.ly/2q1T452B2v27/download/Image%202018-01-03%20at%208.27.49%20AM.png)

The UI should make it clear which exact property is aggregated when a cluster aggregation function is selected.

@szilardhuber

[2018-01-04 04:24] ryanbaumann opened #27 "Create custom HTML for viz option selection"
# Feature

PowerBI supports custom HTML for viz options.  The ESRI plugin supports this.

![](https://cl.ly/2H2A1c46401j/download/Image%202018-01-03%20at%208.22.06%20PM.png)

We should move all of our Mapboxgl Custom Viz pane options to this custom HTML viz.  Use the Mapbox Assembly https://www.mapbox.com/assembly/ css framework to create the HTML panes.

As part of this, a dynamic list of values

[2018-01-04 04:25] ryanbaumann opened #28 "Add hover/highlight styles on data interaction"
# Feature Request

Add hover/highlight effects on mouseover and data selection for circle, cluster, and choropleth visualization types.  Use the new GL JS `Feature States` functionality to achieve this - here's an [example](https://github.com/mapbox/mapbox-gl-js/blob/60aaa4f0e1b5412e0cffb77ded5d3dabcc1b07a9/docs/pages/example/hover-styles.html#L27) of how this works.

Note that feature states requ

[2018-01-15 19:59] #25 closed, assigned to nobody

[2018-01-16 18:42] #26 closed, assigned to szilardhuber

[2018-01-16 21:59] #13 closed, assigned to szilardhuber, petispaespea

[2018-01-16 21:59] #18 closed, assigned to szilardhuber

[2018-01-20 00:25] #20 closed, assigned to ryanbaumann

[2018-01-20 19:45] ryanbaumann opened #37 "Tooltip bugs"
@szilardhuber several important UX bugs I found while working on https://github.com/mapbox/mapboxgl-powerbi/pull/36.  Please work from the latest master branch when looking at these.

2. If I drop the same measure into both `size` and `color`, I get an `undefined` tooltip value.
3. If I drop in a long/lat with no `color` value, but with a `size` value, I don't see a tooltip at all.  I would expect

[2018-01-20 19:50] ryanbaumann opened #38 "Improve default settings for each viz type"
A user should have reasonable defaults when dropping data into their visualization.

1. Color ramps should be set by default to `minColor`: `#ffffcc` and `maxColor`: `#253494`
2. Size ramps should be set to scale between `radius`: 5 and `radius`: 20
3. `circle-stroke` width should be set to `1` with a `stroke-color` of `black` and a `stroke-opacity` of `50`

[2018-01-20 19:54] ryanbaumann opened #39 "Mapbox viz loading - Splash page"
When the viz is loaded for the first time, we should display a splash page with a loading icon in the background.  Use the following assets for the splash page:

![mapbox-logo-white](https://user-images.githubusercontent.com/4342845/35187436-8f178230-fdd8-11e7-99b6-799ba82708e9.png)
![mapbox-logo-color](https://user-images.githubusercontent.com/4342845/35187439-96cb0d94-fdd8-11e7-9c08-8b8e5f4ed168

[2018-01-20 19:57] ryanbaumann opened #40 "Sample Pbiviz workbook"
Create a sample PBIViz workbook using the NYC traffic incident data set.  Zip up the result to include with the workbook to submit on the Office Store.

[2018-01-21 05:34] #39 closed, assigned to ryanbaumann

[2018-01-21 05:34] #38 closed, assigned to ryanbaumann

[2018-01-21 19:02] ryanbaumann opened #44 "Add parameter to all mapboxgl api requests for identification"
Transform all Mapbox API requests to include a query parameter that identifies PowerBI traffic.

Use `source_plugin=PowerBI` as the parameter name and value.  cc @dputtick

[2018-01-21 20:36] #44 closed, assigned to ryanbaumann

[2018-01-22 03:34] ryanbaumann opened #46 "Add icon and screenshot for Office Store submission"
Reference other powerBI submissions on the Office Store: https://appsource.microsoft.com/en-us/marketplace/apps?product=power-bi-visuals

# Office Store Icon

**Requirements:**
You should include the custom visual logo that will appear in the storefront. The format can be .png, .jpg, .jpeg or .gif. It must be exactly 300px (width) x 300px (height). It can be no larger than 512kb for the file size.

[2018-01-22 17:27] #37 closed, assigned to szilardhuber

[2018-01-23 06:33] ryanbaumann opened #48 "Edge, IE11, Safari browser support"
PowerBI custom visuals support Edge, IE11, and Safari.  In order to launch on the Office Store, the custom visual has to work in all of these scenarios.  The custom visual works great on Chrome and Firefox, leading me to believe that Edge, IE11, and Safari enforce different security policies for iframe sandboxes.

Filed issue in PowerBI Custom Viz repo: https://github.com/Microsoft/PowerBI-visuals

[2018-01-23 17:22] ryanbaumann commented on #48
Narrowing this down, it looks like this is the iframe `sandbox` enforcing different security restrictions on different browsers.  Working with the PowerBI team on enabling `allow-same-origin` for this visual to start here: https://github.com/Microsoft/PowerBI-visuals/issues/299#issuecomment-359848789

[2018-01-23 22:17] ryanbaumann commented on #48
Added a check to ensure WebGL is enabled - may solve some corner cases, but not the root cause of issues here.  https://github.com/mapbox/mapboxgl-powerbi/pull/49

[2018-01-24 12:23] szilardhuber commented on #22
I managed to add a gradient selector control in a test project but I can't get it replace the property that it should replace but it is displayed as a separate control.

I have created an issue for this: https://github.com/Microsoft/PowerBI-visuals/issues/301

[2018-01-24 13:05] petispaespea commented on #22
@ryanbaumann Please test PR #50, it should have everything but the gradient selector.

[2018-01-24 13:50] ryanbaumann commented on #48
Narrowing this down, this is the **top priority issue** to resolve to get the plugin to the Microsoft Office Store.

[2018-01-24 13:59] ryanbaumann commented on #40
This is done!  See /examples folder.

[2018-01-24 13:59] #40 closed

[2018-01-24 13:59] ryanbaumann commented on #46
Screenshots are added to /assets folder - need to be updated with the latest changes prior to release.

[2018-01-24 15:53] ryanbaumann commented on #48
Update on why Web Workers won't work in IE11:

Web workers can work in Chrome or Firefox, but they don't work in Internet Explorer without `allow-same-origin` attribute.  Here is a link: https://connect.microsoft.com/IE/feedback/details/801810/web-workers-from-blob-urls-in-ie-10-and-11

# Next Steps

- [ ] @ryanbaumann Test if disabling the `allow-same-origin` iframe sandbox attribute fixes Mapbox

[2018-01-24 16:51] ryanbaumann commented on #48
Minimal test case for Mapbox GL JS `allow-same-origin` iframe sandbox:

https://bl.ocks.org/ryanbaumann/c28a57618ecd60d23f59d24d91d016fd

If the map in the example above does not load tiles in a browser, that means that `allow-same-origin` permissions are required.

I confirmed that the test case above loads on Chrome and Firefox, but does not load on IE11 and Edge.  Safari did not work for me in

[2018-01-25 01:41] ryanbaumann commented on #48
I upgraded the GL JS library to the latest 0.44.0 build, which fixes IE11 support for startsWith() and improves scroll performance in the latest master branch.

[2018-01-25 01:55] ryanbaumann commented on #5
This merged in!  Let's see what the feedback from the Office Store is before reviewing.

[2018-01-25 16:15] ryanbaumann commented on #48
Cut an issue that _may_ help address IE11, Safari, and Edge support for this custom visual here -> https://github.com/mapbox/mapbox-gl-js/issues/6056

[2018-01-25 20:03] ryanbaumann opened #52 "Use native PowerBI Visual Tooltips"
# Problem

Tooltips in the current master release are scaled based on the window size of the visualization.  This means tooltips are

1. Squished visually based on the size of the viz container on the users screen.
    * Popups are not very legible on mobile or small viz containers on web.
2. Data for tooltips does not need to be copied to the geojson source passed to the map as a viz, reducing th

[2018-01-26 00:23] ryanbaumann commented on #48
Update on testing removing the `worker:src blob` CSP mapbox/mapbox-gl-js#6056 ->

Remove this CSP **will not** solve the Mapbox GL + PowerBI custom viz compatibility on IE11 and Edge browsers.  It **does** enable support for Safari browsers.

To support web workers at all on IE11 and Edge without the iframe sandbox `allow-same-origin` flag, we would need to remove web workers entirely.  This would

[2018-01-26 01:23] ryanbaumann opened #53 "Add user-input for access token in HTML spash screen"
In the splash screen on first viz load, we should allow the user to paste their access token into the viz.  That way they don't have to find the `format` panel in the PowerBI UI to get started.

[2018-01-26 01:25] ryanbaumann opened #54 "Add better descriptions, screenshots for how to add data to visualizations"
Improve `add data to cluster` error message with screenshot.

Add screenshot to where to drop long/lat.  Remove capitalization of text.

[2018-01-26 04:33] ryanbaumann commented on #54
Closed in https://github.com/mapbox/mapboxgl-powerbi/pull/55

[2018-01-26 04:33] #54 closed

[2018-01-26 04:46] ryanbaumann commented on #22
Other than the gradient selector, this is working awesome.  Nice job @petispaespea

[2018-01-26 19:47] ryanbaumann opened #56 "Docs on Mapbox.com"
- [x] Update readme to have a release process that includes updates on Mapbox.com docs
- [x] Publish initial docs
    - [x] Docs Copy @noemiwalzebuck @ryanbaumann
    - [x] Inital doc on mapbox.com/help @colleenmcginnis

[2018-01-28 15:48] ryanbaumann commented on #5
looking great - closing here.  I'll open a new ticket to run tests on CircleCI for each PR.

[2018-01-28 15:48] #5 closed

[2018-01-29 17:37] vitaly-livshits opened #59 "Loading indicator"
Can you please add a spinning icon or another type of indicator so we know when the visualization is refreshing and when it's done refreshing?

[2018-01-29 19:20] ryanbaumann opened #60 "Refactor how data is passed between Power BI and Mapboxgl (performance)"
@szilardhuber @petispaespea @baspeti @endre-jenei

As I was using Power BI Desktop making a few examples, I managed to crash the desktop application occasionally with a large data set.  Let's go through our existing code with a fine-tooth comb now that we're in a good spot and see where we can save some memory.

Things to check:

1. Do not store data for the viz outside of the PowerBI Data dataVie

[2018-01-29 19:21] ryanbaumann commented on #59
@szilardhuber can you take a look at adding this for milestone 2?

[2018-02-08 16:01] #46 closed

[2018-02-08 16:08] ryanbaumann commented on #56
Mapbox Visual for Power BI tutorial slated to be released on Monday 2/12

[2018-02-16 11:18] mendezke opened #62 "Map zoom out if there are any points with the blank information in latitude or longitude"
After any modification the map seems to zoom out if there are any points with the blank information in latitude or longitude.
![2018-02-16_1041](https://user-images.githubusercontent.com/18187394/36304830-655e1ac8-1311-11e8-817a-d8c8f3ddf608.png)

![mapbox_powerbi](https://user-images.githubusercontent.com/18187394/36305281-3c785590-1313-11e8-8487-a31c3111f001.gif)
[Collisions_blank_data.xlsx](htt

[2018-02-17 04:26] ryanbaumann opened #63 "Add streaming data example workbook"
# Demo idea

Publish a sample workbook that consumes a streaming data source from Azure or Pubnb.  This is a common operations dashboard use case.

Reference streaming example: http://thuansoldier.net/?p=7187

[2018-02-17 04:28] ryanbaumann commented on #62
Thanks for the bug report @mendezke!  Adding this as a bug to fix - we should not include null longitude/latitude points in the map zoom bounding box calculation.

[2018-02-17 18:07] #62 closed

[2018-02-17 18:11] ryanbaumann opened #65 "Only show Mapbox login splash screen if map is in edit mode"
Only show the request to login splash screen if the visual is in edit mode.  This prevents a user from publishing a visual with an invalid or missing token, and the end user consuming the report getting a prompt to sign up and login to Mapbox.

Use https://github.com/Microsoft/PowerBI-visuals/blob/17042fe7d5df81f5af07e85c4df441b5586a9f41/Visual/IVisualApi.md#update to check if the view mode is edi

[2018-02-17 18:37] #65 closed

[2018-02-19 20:04] #59 closed

[2018-02-22 13:43] otravers opened #68 "Document choropleth options"
Can you please post examples of valid values for Source Layer Name and Vector Property like is already done for Vector Tile URL? How do you find out these values, for, say: mapbox://mapbox.us_census_states_2015?

[2018-02-22 14:05] PedroRiveraTorresMoir commented on #68
I have the same question. Great visual by the way, thanks!

________________________________
From: Olivier Travers <notifications@github.com>
Sent: Thursday, February 22, 2018 7:43:15 AM
To: mapbox/mapboxgl-powerbi
Cc: Subscribed
Subject: [mapbox/mapboxgl-powerbi] Document choropleth options (#68)

Can you please post examples of valid values for Source Layer Name and Vector Property like is alrea

[2018-02-23 21:15] ryanbaumann commented on #68
@otravers @PedroRiveraTorresMoir thanks for the feedback!

The choropleth visualization layer is an enterprise feature of the Mapbox Visual for Power BI.  You can create any custom shapes from shapefiles, geojson, or KML files using Mapbox Studio and use them in Power BI.  You can also integrate the Mapbox Visual with our [Enterprise Boundaries](https://www.mapbox.com/labs/vt-polygons/) product, t

[2018-02-23 21:42] vitaly-livshits commented on #56
@ryanbaumann, is there an updated ETA that you can share? Thanks.

[2018-02-23 21:49] PedroRiveraTorresMoir commented on #68
Very cool, thanks for the info.

Already in contact with DJ for a quote for enterprise boundaries extensibility.

Best wishes

From: Ryan Baumann
Sent: Friday, February 23, 2018 3:15 PM
To: mapbox/mapboxgl-powerbi
Cc: Pedro Rivera Torres Moir; Mention
Subject: Re: [mapbox/mapboxgl-powerbi] Document choropleth options (#68)

@otravers @PedroRiveraTorresMoir thanks for the feedback!
The choropleth v

[2018-02-23 23:29] PedroRiveraTorresMoir opened #69 "Enable vector tile sources using data-join for all layer types (circles, fill, lines, extrusions)"
It'd be great to have the ability to select a tile layer, and based on matching Object ID with PowerBI's dataset, perfom a Data-Join, where the Polygons, Lines and Points of the chosen Vetor Tile are colored based on a specific value of the Dataset.

Would this be possible in the current planned release? I believe it's a different type of Data-join than the one contemplated by the choropleth bound

[2018-02-24 00:06] ryanbaumann commented on #56
@vitaly-livshits yes, we have docs staged but have been holding them until the visual is approved for the Microsoft Office Store.  That's in progress.

While it's in progress, let me see if we can publish the docs so users can get started right away.

[2018-02-24 00:11] ryanbaumann commented on #69
@PedroRiveraTorresMoir To make sure I understand your question - you'd like to

1. Join data in your Power BI data model to Vector Tile features
2. Render the joined data for more than just a `fill` layer type, in order to create circle, line, or fill map visualizations.

Is that correct?

[2018-02-24 00:20] PedroRiveraTorresMoir commented on #69
Precisely!

From what I could tell this would be a different type of visualization. One whose core focus was Data-Joins between PowerBI datasets and Mapbox Vectors. Am I right? If so, is this in the roadmap?

Thanks again

________________________________
From: Ryan Baumann <notifications@github.com>
Sent: Friday, February 23, 2018 6:11:33 PM
To: mapbox/mapboxgl-powerbi
Cc: Pedro Rivera Torres Moi

[2018-02-24 22:46] otravers commented on #68
@ryanbaumann thanks for clarifying. It's a shame this functionality will be gated behind Enterprise vs. ESRI's choice to price their Plus Power BI visual at $5/user.

What about 3D, do you plan to expose fill-extrusion as a visual property where a DAX measure could be dragged?

[2018-02-25 02:23] ryanbaumann commented on #68
@otravers this is valuable feedback re: choropleth visualization layers.  Let me talk to the team on Monday and see if it makes sense to open up the Choropleth layer.

Re: fill-extrusions - yes, you can use fill-extrusion layers in the current version of the visual.  You can create any layer, including custom hillshades, fill-extrusions, or anything else - and drop it into the Mapbox Visual for Po

[2018-02-25 06:03] ryanbaumann commented on #69
@PedroRiveraTorresMoir

Data-Joins are on the short-term roadmap, absolutely - however, we were mainly scoping them for Choropleth and Hexbin / Fill-Extrusion 3D visualizations.  But linestring visualizations make sense here too, and we could expose that as an `arc` or `line` visualization layer type supporting data-joins.

Do you have a use case for point visualization using the data-join techniq

[2018-02-25 13:01] otravers opened #70 "Add Fill-Extrusion layer type and a `Depth` property (Hexbins)"
It would be great to have an optional data-driven _Depth_ field that's mapped to _fill-extrusion_ in custom Mapbox tilesets.

![image](https://user-images.githubusercontent.com/3731532/36641494-f6436d64-1a0e-11e8-8911-53d8a175a90c.png)

The primary use I see for this is to elevate/depress whole areas (defined by their boundaries) based on a value, like a choropleth uses color. Combined with the Co

[2018-02-25 13:25] otravers commented on #68
Right. I did try importing the following 3D style into Mapbox Studio but it didn't work for me. Anyway that's not a Power BI issue, I'll try again later.
https://github.com/openmaptiles/klokantech-3d-gl-style

I was not aware you had these boundaries, that's very cool. But again this wouldn't work for the small/medium businesses I typically consult for. I can easily get them to spend $10/mo for se

[2018-02-25 14:13] PedroRiveraTorresMoir commented on #70
This would be useful for us as well, with the added ability to cluster points into the polygon’s depth or height field to determine their expressed value. So this feature would basically convert points with lat,long into polygon expression attributes without the need to reference the polygon directly. If the point falls on top of the polygon shape, it would automatically add to the polygon’s heigh

[2018-02-25 15:49] otravers commented on #69
I track logistical flows (tons of a specific commodity) between countries/ports for one of my clients, and would love to be able to do something like these:
- http://bl.ocks.org/yellowcap/03cd4a6c72f661377f7e
- http://www.sankey-diagrams.com/tag/map/

There used to be a custom PBI visual to generate Sankey maps but it was very buggy so we stopped using it. It never made it to the Office store and

[2018-02-25 16:03] ryanbaumann commented on #68
That's because the tiles in that style are hosted on a 3rd party URL: `https://free.tilehosting.com/data/v3.json?key={key}`.  Studio only accepts sources hosted on your Mapbox account to keep styles optimized and fast to serve (you can upload any data to your Mapbox account to style in Studio).  3D building data is already included in Mapbox Streets - you can simply change the `building` layer fro

[2018-02-25 16:16] PedroRiveraTorresMoir commented on #69
Oliver, you may want to take a look at this map that’s about to appear in the office store (supposedly): https://www.youtube.com/watch?v=qaq7Ya9BjCo

The flight tracking example I believe reflects what you wish for, and I believe it has the option to embed a Mapbox Style, though the video doesn’t talk about it I think there’s a field for it.

Finally, for time based visualizations, I use this visu

[2018-02-25 17:48] ryanbaumann commented on #69
This thread is awesome ;)  tons were planning to hook into Power BI, and y'all are helping to shape the roadmap!

Here's an example of of one type of timeseries visual with a choropleth looks like.  For Power BI it would work much in the same way, just as a native feature.

The timeseries map dashboard example: https://www.mapbox.com/labs/busintel/

How to build it: https://www.mapbox.com/live/bui

[2018-02-25 18:51] otravers commented on #69
@PedroRiveraTorresMoir I'm aware of the Altius custom chart and looking forward to the addition of their visual to the marketplace (it looks like they hit a technical snag). I'm using the Time Brush too. There's also a drilldown player that I guess could work with a date series, but it's been taken off the store soon after its publication for some reason, though I could always compile it from sour

[2018-02-26 04:13] ryanbaumann commented on #69
@otravers spot on comment re: taking advantage of the latest tools inside of BI instead of writing and learning another new custom code framework.

Time map is incredible - check out another great example from Peter with isochrones (also something we could drop into Power BI) - https://blog.mapbox.com/add-isochrones-to-your-next-application-e9e84a62345f

[2018-02-26 18:53] vitaly-livshits commented on #56
@ryanbaumann Yes, that would be great. We are perfectly fine with referencing draft document versions for now.

[2018-02-26 19:25] ryanbaumann commented on #56
Great!  We'll get docs up this week @vitaly-livshits.  I'll link here when live.

[2018-02-27 00:50] ryanbaumann commented on #48
Safari browser support is blocked by this bug in Safari - https://bugs.webkit.org/show_bug.cgi?id=170075 `Can not read blobs in sandboxed iframes`.

We're working on a workaround for this bug in GL JS here since it hasn't been addressed by Safari https://github.com/mapbox/mapbox-gl-js/issues/6058#issuecomment-368694021

[2018-02-27 00:58] ryanbaumann commented on #56
Docs are live @vitaly-livshits https://www.mapbox.com/help/power-bi/.  Added to Readme here ->

[2018-02-27 00:59] #56 closed

[2018-02-27 15:55] vitaly-livshits opened #71 ""Your browser doesn't support WebGL" error in PBI Desktop"
We are getting this error in PBI Desktop with the latest (180219) release of the MapBox visualization. Running latest PBI Desktop version (2.55.5010.641). The machine is Windows 10 and has IE, Edge and latest Chrome installed.

How to troubleshoot this?

![image](https://user-images.githubusercontent.com/1765732/36738791-6701331c-1bac-11e8-9cca-f2b0e3e94c60.png)

[2018-03-02 23:54] ryanbaumann commented on #71
@vitaly-livshits thanks for the error report.

Does loading this debug page on the same Windows 10 machine you're seeing this error in PowerBI Desktop on https://www.mapbox.com/mapbox-gl-js/example/check-for-support/ in any of your browser windows throw an alert?

[2018-03-03 14:33] otravers commented on #71
Not sure Power BI even cares so this just an idle theory: try changing the default browser to Chrome.

[2018-03-03 23:44] otravers opened #72 "Surface up traffic data as a data series + provide historical values?"
Not sure Mapbox sees itself as a data provider, but since you have traffic data to put on your maps, maybe this could be delivered as a data feed for Power BI (and its ilk) to tap?

My understanding is that you're displaying real time congestion, with 4 levels of congestion value:
https://www.mapbox.com/vector-tiles/mapbox-traffic-v1/#overview

First, it would be valuable to have an ability to ana

[2018-03-04 03:43] ryanbaumann commented on #72
Great feature request, @otravers.

https://www.mapbox.com/vector-tiles/mapbox-traffic-v1/#overview

Correct, real-time traffic values are served as vectors to the client in 4 levels of congestion buckets.

It would be a feature request to be able to query congestion values compared to your data in Power BI - but very possible to do.

Historical traffic ETA functionality is on our roadmap.  Would t

[2018-03-04 12:52] otravers commented on #72
Oh, I see what you're saying, nice abstraction of my feature request! If I understand you correctly, Mapbox data layers would become a pass-through vehicle for data to flow from Mapbox Studio to PBI. But would it work through _Get Data_ so that we can apply Power Query ETL and DAX logic on top of that data?

I guess both! I like your Minneapolis blog post, I would put something like this next to t

[2018-03-04 13:12] otravers commented on #63
Related links for the record:

- https://www.pubnub.com/solutions/geolocation-maps-geofencing/
- https://github.com/pubnub/eon-map

[2018-03-04 18:54] otravers commented on #68
Success!

![image](https://user-images.githubusercontent.com/3731532/36949052-fe76a560-1fc1-11e8-88d4-38795d7c386b.png)

I struggled a little bit in Mapbox Studio, finally got Height to work with fill extrusion by editing the property as JSON and using type: identity (StackOverflow FTW). I see that this works internationally too, wow...

Now, if I wanted both building color (to circle back to the

[2018-03-05 05:50] ryanbaumann commented on #68
🙌 @otravers!  Yeah, the best way to do `identity` functions for now in Studio is to hand-edit the style JSON as per https://www.mapbox.com/mapbox-gl-js/example/3d-buildings/.

You can create any number of data-driven style properties in one layer - you could easily style building height based on color, for example [like this](https://api.mapbox.com/styles/v1/rsbaumann/cjedsil3y2za42ro19sl51qp7.htm

[2018-03-05 12:16] otravers commented on #68
Thanks, I was confused by the Studio UI but you got me to try again and I found how to set data sources for each property (I was clicking in the wrong place). Here, I have color-coded 3D buildings based on their [OpenStreetMaps tagging](https://wiki.openstreetmap.org/wiki/Map_Features#Building):

![image](https://user-images.githubusercontent.com/3731532/36974200-910519ba-2054-11e8-86ba-d67a91c051

[2018-03-05 15:37] ryanbaumann commented on #68
Great! The 3D feature request would be resolved by https://github.com/mapbox/mapboxgl-powerbi/issues/70.  Lets move any use case detail to that issue.

[2018-03-05 20:21] vitaly-livshits commented on #19
@ryanbaumann , would the geocoder also be available to preprocess the data before it gets plotted by the visualization? Or would it only be available as a search control?

I believe the current version of the Power BI visualization requires lat/long coordinates to be supplied for each data element. We would like to pass in other location types and have them be geocoded by the visualization before

[2018-03-05 20:44] ryanbaumann commented on #19
@vitaly-livshits this existing feature request is just to add a search bar to the visualization.  Could you open up a new issue to track geocoding data from Power BI to show in the map?

[2018-03-05 20:51] VitalyMCT opened #73 "Add ability to geocode locations before plotting"
Following up from https://github.com/mapbox/mapboxgl-powerbi/issues/19

The current version of the visualization requires the dataset to have lat/long values. We would like to be able to supply other location types and have Mapbox geocode them before plotting.

This could work similarly to the ArcGIS Maps for Power BI visualization. That is, the visualization has 3 placeholders: Latitude, Longitud

[2018-03-05 20:52] vitaly-livshits commented on #19
Sure. Just opened https://github.com/mapbox/mapboxgl-powerbi/issues/73

[2018-03-05 21:07] vitaly-livshits commented on #71
Yes, this is definitely environment specific.

The machine with the issue is equipped with a DisplayLink-based docking station and is running the latest DisplayLink drivers. Do you have any DisplayLink-based docks available at Mapbox?

I only have intermittent access to the environment. I will run the suggested tests the next time I have access and report the results here.

[2018-03-05 21:28] vitaly-livshits commented on #68
@ryanbaumann , are there any other features within the current visualization that require an Enterprise license?

Would it be possible to somehow separate the Enterprise features from the baseline ones for clarity? Perhaps this can be done by publishing two versions of the control, selectively enabling the features (similarly to how Esri does it with the Plus subscription button), label prefix/suf

[2018-03-06 04:31] ryanbaumann commented on #68
Great feedback.  @vitaly-livshits I'll open a new ticket to add clarification and documentation of what's available in the free version versus enterprise.

[2018-03-06 04:34] vitaly-livshits commented on #71
Just tried - https://www.mapbox.com/mapbox-gl-js/example/check-for-support/
page loads fine in all 4 browsers installed on the machine.
http://webglreport.com/ confirms that WebGL 1 is available in all 4
browsers. The PC has a GPU, it's Intel HD Graphics 520.

There must be something particular about rendering from within PBI Desktop.

Any ideas?

On Mon, Mar 5, 2018 at 11:19 PM, Ryan Baumann <not

[2018-03-06 05:39] ryanbaumann commented on #71
This may be specific to how Power BI Desktop embedded browser works on this machine @vitaly-livshits - let's see what the reply is on https://github.com/Microsoft/PowerBI-visuals/issues/310

[2018-03-06 21:00] vitaly-livshits commented on #68
@ryanbaumann, thanks, looking forward to referencing that.

I also agree with @otravers 's comments around choropleth pricing and would like to add that it's also important for deployments at large organizations. In such deployments we need to prove success of choropleth on a small scale (single digit user counts) before scaling up to 250+ users on Enterprise (if ever). Without a custom demo/PoC/s

[2018-03-06 23:02] ryanbaumann commented on #68
An excellent business case, @vitaly-livshits.  We'll take your feedback into factor as we push what to open up next!

[2018-03-07 21:12] indiciagerry opened #74 "Enable map `pinning` and max auto-zoom level"
I have a list of stores with lat long.
When we navigate from one circle to another using a filter, the transition is cool but the zoom in is way too close.

It will be nice to define the max zoom in to, in my case, stay at neighbourhood level.

[2018-03-07 23:23] ryanbaumann commented on #73
Great feature request.  Thanks, @vitaly-livshits - we'll evaluate this for our roadmap next.

One consideration here would be how we can allow you to store the results of a geocode directly in your Power BI data model.  That way you would be able to reference and group/aggregate your data by that geographic hierarchy (county, city, zip, etc), not just visualize a polygon on a map.

[2018-03-07 23:25] ryanbaumann commented on #74
@indiciagerry agree.  We should allow the user to:

1. Turn auto-zoom on data interaction on/off
2. Define the max auto-zoom a map can go to, with a reasonable default level (say zoom 16).

Would that suit your use case?

[2018-03-08 00:32] ryanbaumann opened #75 "Validate style sheet URL in PowerBI"
# Problem

Adding a custom style to a visualization, it's possible to copy/paste the incorrect URL.  Custom style URLs should begin with `mapbox://`.

# Solution

1. Throw an error in the visualization if a style URL return invalid Mapbox GL Style JSON
2. Use a Mapbox OAuth token with `styles:list` scope to allow a user to select a style from their Mapbox account in a drop-down menu.

[2018-03-08 14:12] indiciagerry commented on #74
@ryanbaumann Yes, it's exactly what i have in mind.

Thanks!

[2018-03-10 18:02] ryanbaumann commented on #68
Working on a beta version of choropleth layers from any Mapbox Vector tile source here -> https://github.com/mapbox/mapboxgl-powerbi/pull/76.  Still WIP.

[2018-03-11 18:32] ryanbaumann opened #77 "User-configurable `min` and `max` color and size domain"
# Problem

Currently, the data domain is automatically calculated using the entire extent of the data.

The min/max values of the data domain should be user-configurable in order to allow the user to create color/size based visual alerts.

# Solution

Add a `scale type` drop-down to each layer type.  The default value of `scale type` is `auto`.  Auto will automatically use the min/max values of th

[2018-03-11 18:37] ryanbaumann opened #78 "User-configurable categorical color palettes for circle and Choropleth layer types"
# Problem

Currently, if a user selects a `dimension` from their data and drops it into the `color` field, the color of the layer created will be defined using a static categorical color palette.  This color palette is not configurable.

This is a valuable tool to have with categorical data, so you can select colors for specific types of categorical dimensions that you want to highlight as a speci

[2018-03-12 02:46] ryanbaumann commented on #24
This helper library could be useful here: https://github.com/Microsoft/powerbi-visuals-utils-chartutils/blob/master/docs/api/legend.md

[2018-03-12 02:48] ryanbaumann commented on #2
This utility library may be helpful here: https://github.com/Microsoft/powerbi-visuals-utils-interactivityutils/blob/master/docs/api/interactivityService.md

[2018-03-14 09:43] Molotch commented on #71
I have the same issue in a Azure Windows 10 Pro Iaas VM.

http://webglreport.com/ confirms Edge supports WebGL 1.0 and the map renders just fine at https://www.mapbox.com/mapbox-gl-js/example/check-for-support/

Power BI desktop shows the error.

[2018-03-14 12:46] otravers commented on #52
Note for the record: the Tooltip field that allows the loading of a report as a tooltip is not (yet?) available for custom visuals.
https://docs.microsoft.com/en-us/power-bi/desktop-tooltips#limitations-and-considerations

[2018-03-14 16:04] ryanbaumann commented on #71
Thanks for the error report @molotch!  I'll continue to work on how to debug this better with the Power BI team.

[2018-03-14 16:13] ryanbaumann commented on #52
Great note @otravers - yeah, tooltip reports is a great new feature that wouldn't be unlocked by this work changing to native tooltips.

[2018-03-16 21:24] ryanbaumann commented on #22
Does this reply help solve this issue @szilardhuber ?  https://github.com/Microsoft/PowerBI-visuals/issues/301#issuecomment-363785222

[2018-03-16 21:29] ryanbaumann opened #79 "Add source data to github for example workbooks"
cc/ @otravers

[2018-03-17 08:22] szilardhuber commented on #22
No, that's not helpful at all. @petispaespea could you push them a bit more to help us solve this issue? I'm pretty sure it is either a bug on their side or something is not even implemented that they suggest is.

[2018-03-17 18:35] ryanbaumann opened #80 "Choropleth / Fill Map layer - master ticket"
This ticket captures the entire scope of `Choropleth` layer support in the Mapbox Visual for Power BI.  cc @szilardhuber @petispaespea @endre-jenei @baspeti

# Features
- [x] Support polygon shape data from a Vector Tile source as a `mapbox://` URL.
    * Should work seamlessly with user-created [Mapobox Tilesets](https://www.mapbox.com/help/studio-manual-tilesets/).
    * Mapbox tilesets support

[2018-03-17 18:47] ryanbaumann commented on #68
Consolidating all of the Choropleth tickets into one master ticket we're working here https://github.com/mapbox/mapboxgl-powerbi/issues/80

[2018-03-17 18:47] #68 closed

[2018-03-17 19:04] ryanbaumann commented on #60
Adding more detail to this issue to focus on specific outcomes.  This refactor should a) make the code base more maintainable by separating concerns between the Power BI data model and Mapbox, and b) increase the performance of the visual for large data sources (paving the way for 🔥 performance when Power BI lifts the limit of 30k data rows).

# Target outcomes

- [ ] Data for the cluster, circle,

[2018-03-17 19:10] ryanbaumann commented on #23
Consolidating this to the master Choropleth ticket -> https://github.com/mapbox/mapboxgl-powerbi/issues/80

[2018-03-17 19:10] #23 closed

[2018-03-17 19:15] ryanbaumann commented on #48
We launched on the Office Store in preview mode.  Tracking this issue still for Safari in particular, but no longer a hard blocker.

[2018-03-17 19:18] ryanbaumann commented on #2
Let's not enable this feature until we work on hover/highlight styles.  Moving to a lower priority and off milestone 2.

[2018-03-17 23:11] ryanbaumann commented on #74
Lets break this into two parts:

1. Expose an HTML element `pin` icon to the map.  When the user toggles the button on or off, it will enable or disable auto-zoom.  This allows the end consumer to control the map pin state, not just the dashboard editor.
2. Set the max zoom level for an auto-zoom maneuver to 15.  Do not add another checkbox to the format panel, just set a global max zoom that the

[2018-03-18 06:52] szilardhuber commented on #80
@ryanbaumann regarding this

![auto-populated dropdown](https://camo.githubusercontent.com/f69709e15ae1e2b9b1e66e66b8152ca4e040b59b/68747470733a2f2f636c2e6c792f335931743038316d335533482f646f776e6c6f61642f25354238366138646536333230633666626664373839306665383939633935633732662535445f496d616765253230323031382d30332d3137253230617425323031312e31312e3539253230414d2e706e67)

I have tried to populate drop

[2018-03-18 15:20] ryanbaumann commented on #80
Thanks, @szilardhuber - I pinged on that ticket checking if there was any progress.  Let me know if you have any ideas on how to make selecting the `source layer` and `vector property` a better user experience.  I'm thinking we could probably just auto-select the first vector layer in the tileset without a drop-down (99% of tilesets will only use one layer), but I don't think there's a good way to

[2018-03-20 00:46] ryanbaumann commented on #80
@szilardhuber thinking through this more, how is this for a proposal, since dynamic dropdowns are not supported in Power BI:

* Add a new drop-down named `Data` as the top-level item in the `choropleth` layer.  This drop-down includes 4 default datasets for the user to choose from, plus a `custom` option.
    * Global countries
    * USA States
    * USA Counties
    * USA Postcodes (5-digit)

[2018-03-20 07:15] szilardhuber commented on #80
@ryanbaumann I was thinking about adding some minimal html-based GUI for the dynamic dropdown when in edit mode (I'm not 100% sure we can know if we are in edit mode but I think we can). What about we try both versions and decide which to use when we see them?

[2018-03-20 18:22] ce-goddard opened #81 "Add support for WMS/WMTS"
There is a measurable demand for WMS map layers support. [Users](https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/13375065-add-wms-map-layers) want to be able to add WMS layers (and ideally other map services) to the maps in PowerBI.

One user stated how "any potential solution would likely involve Leaflet or Mapbox with a WMS plugin like https://github.com/heigeo/leaflet.wms. Th

[2018-03-20 23:10] ryanbaumann commented on #81
Thanks, @ce-goddard, this seems like a solid idea to hit for users coming from ArcGIS and Geoserver raster tile layers.

[2018-03-20 23:13] ryanbaumann opened #82 "Documentation and Examples for Choropleth layer"
* Add workbook file example for Choropleth map to `/examples` folder in this repo
* Add documentation to www.mapbox.com/help/power-bi for Choropleth layers

[2018-03-20 23:18] ryanbaumann commented on #80
I moved the documentation section out of this master ticket to a new issue - that is out of scope for this issue. -> https://github.com/mapbox/mapboxgl-powerbi/issues/82

@szilardhuber

Yes, you can check `options.viewMode` to see if the workbook is in edit mode.  See this PR for an example -> https://github.com/mapbox/mapboxgl-powerbi/pull/66/commits/ab413b5348d5ae34281ac90de919e480d903142e

Wher

[2018-03-21 04:37] zapcity commented on #71
I have exactly the same issue.

I am on a Dell Latitude 7480 with Intel HD Graphics 520

Tested latest versions of chrome, edge, firefox and internet explorer. Using March 2018 version of PowerBI.

Results:

- https://www.mapbox.com/mapbox-gl-js/example/check-for-support/ checks out ok for all 4 browsers

- http://webglreport.com/ confirms WebGL 1 is available in all 4 browsers. WebGL 2 has issues

[2018-03-21 04:44] ryanbaumann commented on #71
Thanks for the additional bugs these are very helpful.  I can cut a test version to try locally and confirm it solves your issue.  Ill drop an update tomorrow.

[2018-03-21 14:39] vitaly-livshits commented on #80
We've been exploring the choropleth in the latest beta and it's working great. Excellent work!

Are there plans to allow selection of polygons within the map? This would allow the user to cross-filter from Mapbox to other visualizations. It's very useful for data analysis, especially if multi-select is allowed.

[2018-03-21 15:56] ryanbaumann commented on #71
@zapcity @woodwind3442 @Molotch @vitaly-livshits

I created a test build that removes the check we perform to see if the browser self-reports if WebGL is supported. Please try the [test pbiviz file](https://github.com/mapbox/mapboxgl-powerbi/raw/no-webgl-validate/dist/mapboxGLMap.pbiviz) and report back on this ticket if this fixes your issue.

[Reference Pull Request.](https://github.com/mapbox/m

[2018-03-22 01:26] vitaly-livshits commented on #71
Just tried the test build. The issue is still there.

On Wed, Mar 21, 2018 at 11:56 AM, Ryan Baumann <notifications@github.com>
wrote:

[2018-03-22 01:43] zapcity commented on #71
Same, issue still persists. I deleted the old custom vis and installed the new one via the link given. Also used my access token. I'll give this a try on my desktop when I get home tonight. It just doesn't work on the work laptop with Intel HD Graphics 520.

[2018-03-22 02:18] ryanbaumann commented on #71
Do you get the exact same error (`the browser does not support WebGL`) as before @vitaly-livshits @zapcity?  Or does the map just not render (blank div) with the new version?

[2018-03-22 02:21] vitaly-livshits commented on #71
I am getting the exact same error as before.

[2018-03-22 02:29] ryanbaumann commented on #71
@vitaly-livshits how does this work?  https://github.com/mapbox/mapboxgl-powerbi/raw/no-webgl-validate/dist/mapboxGLMap.pbiviz

[2018-03-22 02:34] ryanbaumann commented on #81
@ce-goddard prototype to work from here -> https://github.com/mapbox/mapboxgl-powerbi/pull/84

[2018-03-22 02:37] vitaly-livshits commented on #71
This one works, thanks!

[2018-03-22 02:41] ryanbaumann commented on #71
Woho @vitaly-livshits!

@zapcity @woodwind3442 @Molotch can you confirm this solves your issue as well?

[2018-03-22 04:43] zapcity commented on #71
Thanks we are making progress! I no longer get the "Your browser doesn't support WebGL" error in my mapbox visualisation. However, I get a progress circle and it keeps generating an error dialog box saying:

I have the default map visualization working ok with my lat/long data, but just can't get the mapbox visualisation to work.

[2018-03-22 05:14] ryanbaumann commented on #71
@capacity it looks like the Intel HD 520 card has a history of WebGL errors with Chrome.  Chrome is the browser Power BI Desktop users. https://communities.intel.com/thread/117565.  Are you using thr latest graphics card drivers?

Can you open the sample Mapbox Visual for Power BI workbooks from the readme in this repo in Chrome and Firefox?  Do they show errors?

[2018-03-22 17:25] jamesdales commented on #71
I also get this issue. With the current App Source version I get "your browser doesn't support WebGL". With the latest build linked above, I get a never ending loading circle once I put in the mapbox key.

This all happens ONLY when I'm plugged into any DisplayLink USB hub, I've tried three different makes and they all suffer the same issue. I'm using the latest drivers.  It works fine without the

[2018-03-24 03:38] Mike-Honey commented on #80
I'm a bit confused trying to use the Choropleth feature at all. Is there any info on how to set up the PBI side? What to put in the properties under Choropleth? How to match the "Vector Property" to a "key" field in our PBI dataset?

@vitaly-livshits can you share any info?

Also I read in issue #68 that this is an Enterprise-only feature - is that still the case?

[2018-03-24 07:05] ryanbaumann commented on #80
@mike-honey hi!

This ticket discusses the feature requirements for the Choropleth layer currently in development.  It is not available in the current version of the Mapbox Visual on the Office Store.

The Choropleth layer will be available to use in the free version of an upcoming release on the office store.

[2018-03-26 03:39] zapcity commented on #71
@ryanbaumann Thanks for the update. Ok, I've done a fair bit of testing. I updated all drivers for my laptop from the Dell site. I can confirm that the sample mapbox visuals on the github repo site work in both firefox and chrome. However when I download the repo and run the pbix files in the \examples directory e.g. 'NYC Cycling Incident Dashboard.pbix' I get the following:

**With my laptop conn

[2018-03-26 04:25] zapcity commented on #71
Update to the comments I made above today. If I want to display the pbix on my external monitors, I have to:

1. Firstly be disconnected from the DisplayLink USB hub.
2. Open the pbix.
3. Then connect to the DisplayLink USB hub

[2018-03-26 05:01] zapcity commented on #71
Ok, I got it working on the default 'NYC Cycling Incident Dashboard.pbix' and my custom pbix. The issue was that I had to update the DisplayLink drivers from http://www.displaylink.com/downloads/windows

The DisplayLink drivers are not a part of the Dell suite of updates when downloading from http://www.dell.com/support/home/au/en/aubsd1

Thanks again @ryanbaumann for all your help.

[2018-03-26 06:19] zapcity commented on #71
I think I got it working. I spent A LOT of time today testing different things. I installed all the latest drivers from Dell. Also updated the DisplayLink drivers from displaylink.com. This is what it comes down to:

- If I set my laptop as 'Make this my main display' in windows Settings > Display. The pbix with mapbox pbiviz opens up without error in my laptop screen by default. I can then drag i

[2018-03-26 15:17] ryanbaumann commented on #71
Thanks for the detailed instructions on how to debug and fix, @zapcity!  Glad it's working now. Sorry to hear it took quite a bit of troubleshooting - hardware driver issues are always fun to debug.

TL;DR Mapbox GL JS requires `Web GL` support.  It sounds like there is a hardware driver specific issue with using an external monitor supporting WebGL in PowerBI Desktop.  It's worth a shot to open t

[2018-03-27 00:12] zapcity commented on #71
Thanks @ryanbaumann. Done: https://github.com/Microsoft/PowerBI-visuals/issues/320

[2018-03-27 13:37] petispaespea commented on #80
@ryanbaumann Following the documentation I was not able to create a Slider UI control but Spinner. I opened an issue: https://github.com/Microsoft/PowerBI-visuals/issues/319.

[2018-03-28 10:24] sergeiGKS commented on #73
I have the same request!

Thanks!

[2018-03-28 17:37] PedroRiveraTorresMoir commented on #69
Hi @ryanbaumann . Incredible advances with the Power BI visual!

I was wondering if the following items were still on the roadmap for the visual and if you happen to have a rough estimate for when they might be available:

Multi-Hexbin aggregated/clustered selection on client data-joined points
3D for building Data Joins
3D building selection to display client data-joined rows where the ID of the

[2018-03-28 19:41] ryanbaumann commented on #69
Thanks, @PedroRiveraTorresMoir!

We're still gathering info on what's coming next after Native Power BI Tooltips and Choropleths.  Which one of your requests above is most important?  Linestrings and 3D extrusions should be relatively straightforward from a technical perspective after the Choropleth layer is complete.

[2018-03-28 19:50] PedroRiveraTorresMoir commented on #69
Linestrings, definitely -- pulled from styles in Mapbox Studio, with two scenarios:

1. Have the legend/color be determined by a client-side field value
2. Enable selection of the linestring from within the map, so that a filter applies to the client-side data showing only the records associated with such linestring ID.

This would be very useful, and no other mapping tool that I know of does this

[2018-03-31 16:56] ryanbaumann opened #87 "Add symbol layer type"
# Proposal
Developers want to be able to create icons to drop into their map visualization, in addition to circles, for point type data.  This issue tracks adding `symbol` layer support to the Mapbox Visual for Power BI.

# Design

1. Symbol layer should be a new layer type option in the Mapbox Visual for Power BI format panel.
2. Symbol layer should contain the same viz class base layers as all o

[2018-03-31 17:34] PedroRiveraTorresMoir commented on #87
This would be very useful.

How difficult would it be do also add .svg support for vector images? PNGs often don’t look very sharp unless they have the exact size.

Just an idea… thanks.

From: Ryan Baumann
Sent: Saturday, March 31, 2018 10:56 AM
To: mapbox/mapboxgl-powerbi
Cc: Subscribed
Subject: [mapbox/mapboxgl-powerbi] Add symbol layer type (#87)

Proposal
Developers want to be able to create

[2018-03-31 18:47] ryanbaumann commented on #87
@PedroRiveraTorresMoir yes, we can add support for any image type that can render out to a canvas element easily with the addImage API https://www.mapbox.com/mapbox-gl-js/api#map#addimage.  I updated the design criteria in the OP to reflect that - thanks!

[2018-04-02 00:57] ryanbaumann opened #88 "Make clusters update on `zoom` instead of `zoomend` event"
Clusters update on `zoomend` currently.  This results in a janky zooming experience when moving the camera fast.  We should make clusters update on `zoom` and check in the zoom callback if the map zoom has changed an integer zoom level, and if so, update the clusters.

[2018-04-02 01:12] ryanbaumann commented on #52
The initial version of native tooltips are merged in!

@szilardhuber tracking performance questions with the native tooltip update:

[Video
](https://www.dropbox.com/s/f8ntn1cfp3hmlhs/Power%20BI%20-%20Google%20Chrome%203_28_2018%208_38_15%20AM.mp4?dl=0)

TL;DR native tooltips are slow to update and are taking a bunch of main thread CPU time.  Possible things to check:

1. Reduce `buffer` pixel siz

[2018-04-02 05:13] ryanbaumann commented on #48
If you're running into this Safari browser support bug with the Mapbox Visual for Power BI, please submit a bug report referencing this detailed Safari bug report https://bugs.webkit.org/show_bug.cgi?id=170075 to Apple support at http://bugreport.apple.com/

[2018-04-02 05:17] ryanbaumann opened #89 "Port categorical color selection from Choropleth layer to all layers"
As part of the Choropleth layer work in https://github.com/mapbox/mapboxgl-powerbi/issues/80, we are adding support for `categorical` color selections in the layer format panel.  This allows a Power BI Editor to select the specific color they want to use for a specific data value.

After merging in the Choropleth layer categorical data color selection, we should apply the same change to the Circle

[2018-04-02 05:46] ryanbaumann opened #90 "Add option to add 3D buildings to a default Mapbox Style"
For Mapbox default styles, a common request is how to add 3D buildings.  We should enable this as a check-box in the format pannel if and only if the user has selected a compatible base map style for 3D buildings:

Everything except for the `Custom` and `Satellite` map style options should support this option.

[2018-04-02 05:51] ryanbaumann opened #91 "Add `arc` map layer (origin / destination)"
Add an `Arc` layer type that supports creating a great arc circle from an origin point to a destination point.  The arc color could be colored by a continuous or categorical data property, and the user could select the arc width.  Animating the arcs over a 1-2s time window would be a ++.

Would be awesome to combine this arc layer with the new line-gradient property in GL JS.

[2018-04-02 17:26] ryanbaumann opened #92 "Add `linestring` map layer"
Users want to be able to map `linestrings` in a similar way to choropleth/fill layers.

1. By passing a series of long/lat points, grouped by a dimension, and connected in an ordered fashion over another dimension.  (EX: Long/Lat grouped by `trip id` ordered by `timestamp`)
2. By uploading a custom shapefile / geojson file, and joining Power BI data to the geometry over a key (like an inner join).

[2018-04-02 17:28] ryanbaumann commented on #69
Ticketed the linestring viz in a new issue @PedroRiveraTorresMoir  - https://github.com/mapbox/mapboxgl-powerbi/issues/92

[2018-04-02 17:31] ryanbaumann opened #93 "Create custom example of visualizing >30k Features in the map"
A common request is to visualize more than 30k features in the same map.  We should make a custom example that shows BI Javascript Developers how to do this with a custom build of the Mapbox Visual for Power BI.

The key concept here is that the Mapbox map can display any volume of data stored in a tileset, and then a user can interact with it in their dashboard by applying render-level filters to

[2018-04-02 21:52] ryanbaumann opened #94 "Document that Mapbox Visual for Power BI supports Publish to Web"
Other custom visualizations do not support Publish to Web - but the Mapbox Visual does.  We should add explicit docs that call this out in the Project Readme and Tutorial.

[2018-04-02 23:11] ryanbaumann opened #95 "Support Drill-down for Choropleth layers"
## Feature

Add drilldown support for Choropleth map layers as per https://github.com/Microsoft/PowerBI-visuals/blob/master/Capabilities/Drilldown.md.

### To Do

- [x] Swap dataView to use the `Categorical` dataView model in Power BI.  https://github.com/mapbox/mapboxgl-powerbi/issues/125
- [x] Add new fields to `capabilities.json` to accept user-input for multiple vector layers, one per each lev

[2018-04-03 04:13] ryanbaumann opened #96 "Add `radius filter` or `time filter` around a selected location"
### Feature Request

Add a `radius` filter or `drive/walk/cycle` time filter at a selected location on the map.  Highlight and select all user data that falls within the radius or polygon region selected.

See the Mapbox Isochrone plugin for an example of how drive/walk/cycle time polygons work: https://blog.mapbox.com/add-isochrones-to-your-next-application-e9e84a62345f

[2018-04-03 04:25] ryanbaumann opened #97 "Evaluate using `Sample` Data Reduction Algorithm"
PowerBI Limits custom visuals to 30K data rows.  Currently, the Mapbox Visual selects the top 30K points from the visual if a dataset exceeds this limit.  We could use the `Sample` data reduction algorithm, which should enable a developer to see a representative set of their data instead of just the first 30K rows.

Docs from Power BI here- https://github.com/mvgaliev/PowerBI-visuals/blob/942d7206

[2018-04-04 04:20] ryanbaumann opened #98 "Save map zoom and pan state if `autozoom` is set to off"
If a BI developer sets the map state to `autozoom` off and saves the workbook, the map should:

1. Return to the same center/zoom when loading the map again
2. Retain the map `autozoom` set to `off` setting

cc/ @baspeti

[2018-04-09 01:43] ryanbaumann commented on #98
Thinking through this a bit more:

The state of the map should be saved in `capabilities.json` in the `api` object section.  There are three parameters to track:
1. `autozoom` - true/false
2. `zoom` - number
3. `center` - [longitude, latitude]

[2018-04-10 14:09] ryanbaumann commented on #88
Tracking in the latest beta 1.1.0 branch https://github.com/mapbox/mapboxgl-powerbi/pull/76/commits/4eb2b1bb9d06abafbe09b4eb2d447e532391679d

[2018-04-10 14:09] ryanbaumann commented on #90
Tracking in https://github.com/mapbox/mapboxgl-powerbi/pull/100

[2018-04-11 14:03] ryanbaumann opened #102 "Add Bookmark support"
Users want to create slideshow-like reports from Power BI to tell a specific story with their data.  See https://community.powerbi.com/t5/Data-Stories-Gallery/Team-Performance-vs-Target-with-BOOKMARKS-and-TOGGLE/m-p/324860 for an example

![](https://cl.ly/2B2W0S3C0o1W/download/Image%202018-04-11%20at%207.02.55%20AM.png)

This ticket tracks adding Bookmark support for the Mapbox Visual for Power B

[2018-04-13 07:11] Tarasteed opened #103 "Use a custom URL Style (not mapbox)"
Hi,

Can someone tell me how can i save my features to update MapBox ?
For now, i just try to change the descriptions in capabilities but when i create my package, it don't appear.
I'm beginner with PowerBI and custom visual and i read a lot of documentation but i can't find a way to update this custom visual.

Thanks guys !

[2018-04-14 16:56] ryanbaumann commented on #103
@Tarasteed thanks for your ticket.  Can you detail what you're trying to do for your use case?

Can you describe in more detail what are the inputs and outputs you want to achieve using the Mapbox Visual when you save your features to update Mapbox?  Include a screenshot if possible with a visual indicator of what you want to do.

[2018-04-14 17:00] Tarasteed commented on #103
Hi !
I solved my issue by changing the GUID number.
I just want to allow the using of a Map style URL which is not a MapBox URL.

Thanks for your reply !

Have a good day.

Axel Rose

Le sam. 14 avr. 2018 à 18:56, Ryan Baumann <notifications@github.com> a
écrit :

[2018-04-14 17:27] Tarasteed commented on #103
Yes, we made a little file that allow that on a SharePoint projet and the
generated URL which work on it don't work on the MapBox custom visual of
PowerBi.
It just load again and again, so i think i have to make some modifications.

(By the way i'm french, so sorry if my english is not very good)

Le sam. 14 avr. 2018 à 19:22, Ryan Baumann <notifications@github.com> a
écrit :

[2018-04-14 19:11] ryanbaumann commented on #103
That's awesome @Tarasteed - is that something you could make a PR (pull request) for on this repository?

[2018-04-14 19:14] Tarasteed commented on #103
I think yes, if it works !

Thanks again !

Axel Rose

Le sam. 14 avr. 2018 à 21:11, Ryan Baumann <notifications@github.com> a
écrit :

[2018-04-15 01:41] ryanbaumann commented on #103
Note that you will probably need to change [this line](https://github.com/mapbox/mapboxgl-powerbi/blob/master/src/ts/mapboxMap.ts#L370) to source data from non `api.mapbox.com` sources.  I'd recommend using this approach in the `transformRequest` to check if the URL is from api.mapbox.com:
 https://github.com/mapbox/mapboxgl-jupyter/blob/master/mapboxgl/templates/base.html#L13

[2018-04-16 08:04] Tarasteed commented on #103
I will check that but i'm not sure that is the right line.
In my case it's only for the Map Style like
mapbox://styles/mapbox/streets-v10
<https://api.mapbox.com/styles/v1/mapbox/streets-v10.html?title=true&access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NDg1bDA1cjYzM280NHJ5NzlvNDMifQ.d6e-nNyBDtmQCVwVNivz7A#2/0.0/0.0>
I want to use my own map style stored on my own server.

Cordialement,

Axel Ros

[2018-04-16 09:30] Tarasteed commented on #103
i don't know which files to change to allow a style with an Url like that:
https://my-host-example/v1/venuesrevisions/43?api_key={MyApiKey}
I'm a little bit lost.

[2018-04-17 20:35] Mi2nBalamurugan opened #104 "Color Heatmap by aggregated measure value"
Hi, I am trying to use the Heatmap feature of the Mapbox visual in Power BI. If I add a measure to the 'Color' field of the visual and select Heatmap from the visual's Format pane, it plots the heatmap based on the density of the points in the map and not on the value of the measure. Please let me know if that is how the map is supposed to behave, or am I doing something wrong.

[2018-04-18 07:46] szilardhuber commented on #104
Hi @Mi2nBalamurugan , heatmap color is based on density, the color field is only used by Circle visualization.

You can customize the color of the heatmap by setting min-med-max colors but they will still be based on the density.

[2018-04-18 08:47] Tarasteed commented on #103
@szilardhuber It gave me few errors like :
![error](https://user-images.githubusercontent.com/23456529/38920938-c82e94bc-42f4-11e8-9954-2126bdcae479.PNG)
When i'm trying to use a style url like :
https://api.example.io/v1/venuesrevisions//43?api_key=********-****-****-****-************
It display JSON content.

[2018-04-18 08:51] szilardhuber commented on #103
It seems to be telling us that the returned JSON object is not a valid mapbox style (missing propeties in the JSON: version, sources, layers).

Can you check that the returned JSON object follows this specification? https://www.mapbox.com/mapbox-gl-js/style-spec

[2018-04-18 09:04] Tarasteed commented on #103
It was a mistake, now i have that :
![error](https://user-images.githubusercontent.com/23456529/38922190-e64e6ec4-42f7-11e8-89e3-145334feae36.PNG)
The only difference is that i have that :
`"sources": {
        "composite": {
         "url": "mapbox://mapbox.mapbox-terrain-v2,mapbox.mapbox-streets-v6",
            "type": "vector"`
I have to mapbox url.

[2018-04-18 09:08] szilardhuber commented on #103
The error: `No 'Access-Control-Allow-Origin` header is present on the requested resource.` means that the web server serving your JSON refuses the request sent from a website that was served from an other domain (app.powerbi.com). I think you should have the webserver serve that JSON object for cross-origin requests and try that way,.

[2018-04-18 09:26] Tarasteed commented on #103
Thanks for helping me @szilardhuber !
I will check that and keep you updated.

[2018-04-18 12:50] ryanbaumann commented on #104
@Mi2nBalamurugan this is a great feature request.  We could support.heatmap color by metric value building on top of the cluster property aggregation code.

 I recommend using the cluster layer for now to show the relationship of a metric value among points.

[2018-04-18 21:49] vitaly-livshits commented on #94
On a related note, does MapBox fully support the Power BI Report Server? Are there any differences in the level of functionality provided by MapBox on Power BI Service vs. Power BI Report Server?

[2018-04-19 07:40] Tarasteed commented on #103
Hi !
After a quick update on my json file and some fix with the domains, i found something.
My custom url call a lot of url to fill the layers ect and it works only if i change the
`<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />`
to
`<script src='https://api.ti

[2018-04-19 07:53] szilardhuber commented on #103
Thanks for the update @Tarasteed !

The PowerBI plugin works with `v0.44` Mapbox GL API so I think there might still be some issue in your custom style. I suggest you try to fix your JsFiddle to work with the same version as the PowerBI plugin.

Also if you could share the new error messages with us with the custom style (and the domain issues fixed) either from the JSFiddle or from the PowerBI pl

[2018-04-19 08:05] Tarasteed commented on #103
The problem is that my custom style is a mix of two differents style :
- One for the outdoor of a building
- One for the indoor of a building

So we just change some domain url that were called, and it works perfectly on Jsfiddle, my two style are just mixed (because in the future, i want to add a dropdown to select indoor or outdoor).
I will try to fix that using v0.26.0 and see i it's possible b

[2018-04-19 13:31] ryanbaumann commented on #103
@Tarasteed is your GL Style Sheet up to date? https://www.mapbox.com/mapbox-gl-js/style-spec/

[2018-04-19 13:35] Tarasteed commented on #103
@ryanbaumann I think yes because it works on Jsfiddle with mapbox-gl.js v0.26.0.

[2018-04-19 13:39] ryanbaumann commented on #103
The style spec has changed quite a lot since GL JS v0.26 -- if it doesn't work with the latest GL JS v0.44.2, then your style sheet is likely not valid according to the latest spec.

[2018-04-19 13:58] Tarasteed commented on #103
So i will have to read all the specs and verify all the lines of my style sheet ?
(I will keep trying to see if i can do something to force the version to 0.26.0 at the same time)

[2018-04-19 14:55] ryanbaumann commented on #103
@tarasteed here is the style validation tool you can run against your style JSON to check:  https://github.com/mapbox/mapbox-gl-js/tree/03680eb57489cf442f8c538141ea27c73d98d532/src/style-spec

`npm install @mapbox/mapbox-gl-style-spec --global`
`gl-style-validate style.json`

[2018-04-19 15:38] Tarasteed commented on #103
@ryanbaumann Thanks, i was just looking that !
But i don't have any output also with the --json flag.
What i've missed ?

[2018-04-19 19:35] ryanbaumann commented on #103
Is it possible to copy your Mapbox GL Stylesheet here so we can troubleshoot @tarasteed?

[2018-04-20 07:06] Tarasteed commented on #103
@ryanbaumann This is the style url i use : [https://toolsgeolys.azurewebsites.net/styles/tevolys.json](url)

[2018-04-20 07:26] szilardhuber commented on #103
@Tarasteed Is it the style definition that is not working for your jsfiddle with a newer Mapbox API version? I quickly put together a simple map on my machine with this style and it works just fine with v0.44.1

[2018-04-20 07:39] Tarasteed commented on #103
@ryanbaumann Mapbox-gl.js v0.26.0
![image](https://user-images.githubusercontent.com/23456529/39036286-4ca2ff9c-447d-11e8-9043-972e4ba454df.png)

Mapbox-gl.js v0.44.2
![image](https://user-images.githubusercontent.com/23456529/39036748-c44dffaa-447e-11e8-8093-651d7c201ff2.png)

[2018-04-20 14:14] ryanbaumann commented on #103
@Tarasteed There are two changes to make here:

1. Remove all references to `source-layer` for layers using the geojson source `venue`.
    * Updated style sheet.  [style.json.zip](https://github.com/mapbox/mapboxgl-powerbi/files/1932420/style.json.zip)
2. A bug fix in Mapbox Visual for Power BI to support custom style sheets from non-Mapbox domains.
    * See https://github.com/mapbox/mapboxgl-po

[2018-04-20 19:14] vitaly-livshits opened #111 "Compatibility with MapBox Atlas Server"
Are there any short-term plans to make the MapBox Power BI visualization compatible with this product, for a fully on-prem solution?

[2018-04-21 12:48] ryanbaumann commented on #103
Did this work for you @Tarasteed?  Will close if so

[2018-04-23 09:44] ryanbaumann commented on #103
Excellent @Tarasteed.  Support for non-Mapbox hosted sources and style sheets will ship in the next version,

[2018-04-23 09:44] #103 closed

[2018-04-23 18:30] ryanbaumann commented on #97
Closed in https://github.com/mapbox/mapboxgl-powerbi/pull/76/commits/d7dd8fb3d1c75f07c8411f1fc2806e6add50fb76

[2018-04-23 18:30] #97 closed

[2018-04-23 18:35] #74 closed

[2018-04-23 18:36] ryanbaumann commented on #71
I removed the WebGL error message check in https://github.com/mapbox/mapboxgl-powerbi/pull/76

[2018-04-23 18:36] #71 closed

[2018-04-23 18:37] ryanbaumann commented on #88
Closed in beta 1.1.0

[2018-04-23 18:37] #88 closed

[2018-04-23 22:16] ryanbaumann commented on #78
This is blocked by https://github.com/Microsoft/PowerBI-visuals/issues/330

[2018-04-23 22:17] ryanbaumann commented on #60
Closed in https://github.com/mapbox/mapboxgl-powerbi/pull/101

[2018-04-23 22:17] #60 closed

[2018-04-23 22:17] ryanbaumann commented on #52
Closed in https://github.com/mapbox/mapboxgl-powerbi/pull/113 and https://github.com/mapbox/mapboxgl-powerbi/pull/108 and https://github.com/mapbox/mapboxgl-powerbi/pull/85

[2018-04-23 22:18] ryanbaumann commented on #52
@szilardhuber @baspeti can we change the mouse cursor to a pointer in the current beta when popups appear?

[2018-04-24 09:35] szilardhuber commented on #52
@ryanbaumann https://github.com/mapbox/mapboxgl-powerbi/pull/115

[2018-04-24 11:04] ryanbaumann commented on #80
As we aim to finish up this ticket, here are the items that remain open:

| feature 	| status 	| comment 	|
|-------------------------------------------------------------	|---------	|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------	|
|

[2018-04-24 11:30] ryanbaumann commented on #98
@endre-jenei @petispaespea is this possible to add to the `map` pinning feature by storing the map state in the `settings`?

[2018-04-24 14:13] ryanbaumann commented on #98
Closed in https://github.com/mapbox/mapboxgl-powerbi/pull/115

[2018-04-24 14:13] #98 closed

[2018-04-26 08:24] baspeti opened #117 "Choropleth issue: There is no source with this ID"
When setting choropleth data to custom, and typing various values into the text fields (I managed to trigger the issue by editing `vectorProperty`), you can end up with no choropleth visualisation and an error message like: `There is no source with this ID`

![choropleth missing source id](https://user-images.githubusercontent.com/5700926/39294399-f3a50a2a-493b-11e8-8824-d9cd463577a1.gif)

[2018-04-26 23:04] #52 closed

[2018-04-26 23:06] ryanbaumann commented on #93
Closing this, since we moved to the sample data reduction algorithm in the latest master release.  Its still possible to show practically unlimited data points in the Mapbox Visual for Power BI using a custom style created in Mapbox Studio.

[2018-04-26 23:06] #93 closed

[2018-04-27 14:13] ryanbaumann commented on #48
We identified a browser bug that blocks web workers from functioning in sandboxed iframes in Edge.  Tracking with the Microsoft Edge support team and will drop updates here.

[2018-04-29 14:44] ryanbaumann opened #123 "PBIVIZ package minification fails using ES6 syntax"
# Problem

The `pbiviz package` command fails using ES6 syntax during the uglification/minification step with `"target": "es6",` set in `tsconfig.json`.  The error message thrown is

[code]
# Impact

Packaged pbiviz file is~250kb larger (because we can't minify easily) than before using ES6 syntax, causing slower visual loads for users by ~30%.

# Solution

- [ ] Upgrade and troubleshoot version o

[2018-05-02 08:10] petispaespea commented on #117
Fixed by #120

[2018-05-02 08:10] #117 closed

[2018-05-04 09:54] Tarasteed commented on #104
Hi @Mi2nBalamurugan,
I was trying to do the same things on my project with some points and some values.

I found you can "simply" disable the isGradient of the points to allow color gradient in MapBoxMap.ts !

![image](https://user-images.githubusercontent.com/23456529/39622190-883b740c-4f91-11e8-9644-c8643ee123eb.png)
![image](https://user-images.githubusercontent.com/23456529/39622264-ca44d65e-4

[2018-05-05 14:51] ryanbaumann commented on #123
Powerbi Visual tools does not yet support ES6, but it will in the near term future.

[2018-05-07 21:53] ryanbaumann opened #125 "Use `categorical` dataView Power BI model instead of `table`"
# Problem

Several features in Power BI are gated behind the `Categorical` dataView model.  Currently, we are using the `table` dataView, which limits our ability to support:

1. Drill-Downs.  Specifically for Choropleths, we can't support drill downs without switching the visual to use the Categorical dataView.  Ref: https://github.com/mapbox/mapboxgl-powerbi/issues/95
2. Categorical data color s

[2018-05-08 04:11] ryanbaumann commented on #2
Fleshing out the details of this feature:

# To Do

- [ ] Finish the hover/highlight styles issue before starting this ticket - https://github.com/mapbox/mapboxgl-powerbi/issues/28
- [ ] Remove the `click` to zoom handler that exists on the map today.
- [ ] Create a new js file to manage filter states, `filter.ts`
- [ ] In `filter.ts`, add a click-to-zoom handler on a map `click` event to filter h

[2018-05-09 04:15] ryanbaumann opened #129 "Categorical colors for Choropleth layers as dimensions"
# Problem

When using a `dimension` or `grouping` value with the Choropleth layer (categorical colors), there is no color gradient shown.  All colors are the same grey value.  The categorical color only works when the same `location` data field is used as the `color` field.

Using a different dimension for location and color yields an unexpected result:  all features are the same color, even thoug

[2018-05-09 16:27] #80 closed

[2018-05-09 17:51] ryanbaumann commented on #129
@baspeti attached is an example workbook showing the error.  I think the root cause is the `string` value being defined as a measure by Power BI due to the `First` aggregation.  Since the output is a string value, I still expect the categorical data model to be used.

[example-choropleth-categorical-bug.pbix.zip](https://github.com/mapbox/mapboxgl-powerbi/files/1988907/example-choropleth-categoric

[2018-05-09 18:29] AndrewLockett commented on #2
Great to see the hover over 'tooltip' is now enabled for choropleth maps (1.2 beta). Will this filter feature work just when drawing a bounding box? Or will the user be able to select a polygon on the map and have that filter other viz on the dashboard (or ctrl click to select multiple areas)? The ArcGIS & ShapeMap viz work in this way. Any date estimate for these enhancements? Thanks

[2018-05-10 02:54] ryanbaumann commented on #2
@AndrewLockett filters will work when drawing a bounding box and when clicking to select a polygon feature.

Dates are hard at this point - stay tuned on this ticket!  We're actively scoping the work on this feature now.

[2018-05-10 11:26] #129 closed

[2018-05-10 12:15] szilardhuber commented on #28
@ryanbaumann where can we find the documentation for this new API? For choropleth we use vector source type while in the example geojson source is used? Does this `setFeatureState` method work together with vector sources as well?

[2018-05-10 15:08] ryanbaumann commented on #28
@szilardhuber yes, the new setFeatureStatue method works on vector sources as well.  More docs are incoming soon.

Here's an [example](https://github.com/mapbox/mapbox-gl-js/blob/60aaa4f0e1b5412e0cffb77ded5d3dabcc1b07a9/docs/pages/example/data-join.html#L81) of how it works with the data-join technique.  cc/ @asheemmamoowala

[2018-05-11 14:43] indiciagerry opened #133 "Choropleth layer auto-zoom does not focus on the filtered zone"
When using a filter to select a "zone" in the map, the autozoom go back to show the full extend of the underlaying vector layer.

To test, simply use the US States choropleth and a list of states as filter. Select a state in the list and the maps zoom full out. It should be zooming in or pan to show the selected state in the same fashion it do when we are using lat/long to filter points.

By the w

[2018-05-11 16:47] cmtoomey opened #134 "Filter behavior in 1.1 3"
With choropleth map + crosstab, clicking on item in crosstab causes the map to zoom to z0. Similar to #133.

Base on this [PR](https://github.com/mapbox/mapboxgl-powerbi/pull/132)

Filter should keep existing extent OR zoom-to-extent of filtered item.

![pbitest1](https://user-images.githubusercontent.com/12201602/39936094-3b60a9a8-5500-11e8-84c0-ff53f77d77f0.gif)

[2018-05-11 16:50] cmtoomey opened #135 "Custom tileset mis-rendered in 1.1 3"
Tileset added and data appears as described. Zooming into data causes layer to drop and then re-appear.

Base on this [PR](https://github.com/mapbox/mapboxgl-powerbi/pull/132)

TilesetID: christoomey.bor5uhep

![](https://d2mxuefqeaa7sj.cloudfront.net/s_247204E7F0AB469A8BCFC237FB4151AEAA2F24CA775C4A1E96D6B83B6DEF5223_1526056614309_image.png)

![pbi2](https://user-images.githubusercontent.com/12201

[2018-05-11 16:55] cmtoomey opened #136 "Documentation for out-of-box tilesets"
Base on this [PR](https://github.com/mapbox/mapboxgl-powerbi/pull/132)

Out-of-box support is provided for Countries, States, and US Postcodes. For custom tilesets, we instruct users to make sure they have fields that match for the data join. However, we do not provide the users with available columns, types, or any documentation at all relating to what fields can be matched for OOB tilesets.

We

[2018-05-12 10:00] AndrewLockett commented on #2
That is great news. I'll keep tuned for early beta releases. Happy to help with testing and provide feedback. Thanks for a great custom viz!

[2018-05-14 03:48] ryanbaumann commented on #135
@cmtoomey interesting.  I'm unable to reproduce - can you share the other settings you used?  Here's my workbook file I'm using:

[seattle_hoods_powerbi-180513.zip](https://github.com/mapbox/mapboxgl-powerbi/files/1999316/seattle_hoods_powerbi-180513.zip)

[2018-05-14 13:55] indiciagerry commented on #133
I dont want to play in the source code of the visual and start my own branch of the project.
Can you expose some fields (lat1, lng1, lat2, lng2) in the visual to allow users to set a bounding box from power bi?

[2018-05-14 14:49] ryanbaumann commented on #133
@indiciagerry I think we should aim to improve the auto-zoom feature for choropleth layers before release - currently discussing options on this ticket https://github.com/mapbox/mapboxgl-powerbi/issues/134#issuecomment-388686518

[2018-05-14 17:32] cmtoomey commented on #135
Reproduced.

Add Choropleth > Toggle Choropleth layer on and off. The layer appears to be added (has tooltips), but not rendered.

Before
![pbi_before](https://user-images.githubusercontent.com/12201602/40013329-12011728-5762-11e8-8dac-072261ca6923.gif)

After
![pbi_after](https://user-images.githubusercontent.com/12201602/40013341-1b39c5c4-5762-11e8-8711-d2ed18847011.gif)

[2018-05-14 18:32] ryanbaumann commented on #135
Great, thanks @cmtoomey - @szilardhuber @baspeti any ideas?

[2018-05-14 18:40] ryanbaumann opened #138 "Choropleth layer tooltips should only show data specified in viz"
Version: Mapbox Power BI v 1.1-3 beta

# Problem

Tooltips for Choropleth layers show all properties both in the Tooltip column in Power BI viz, and in the vector tile.

# Expected behavior

Tooltips for choropleth layers only show
    * The `Location` field
    * Any data fields dropped into the `tooltip` column

@baspeti @szilardhuber @petispaespea

[2018-05-14 20:14] ryanbaumann opened #139 "Choropleth layer initialization & toggle on/off bug"
# Problem

Toggling a new Choropleth Layer on/off causes two specific race-condition bugs:

1. The layer `flickers` on/off when changing integer zoom levels
2. The new Choropleth layer does not `autozoom` to the tileset bounds

# Solution

* Look for conditions where https://github.com/mapbox/mapboxgl-powerbi/blob/master/src/ts/layers/choropleth.ts#L54 could return null when it should just be wait

[2018-05-15 00:32] ryanbaumann commented on #139
Closing this issue should fix the bugs in the issues below:

* https://github.com/mapbox/mapboxgl-powerbi/issues/135

[2018-05-15 04:01] ryanbaumann commented on #134
I'd rate this as a nice-to-have for the initial release.  A user can always turn autozoom off using the UI toggle.

[2018-05-15 14:07] baspeti commented on #138
@ryanbaumann , could you please provide us a screenshot what you see when it is showing the wrong tooltip values? And also could you provide us your test data and choropleth settings?

The closest match that I could get is this:
![image](https://user-images.githubusercontent.com/5700926/40052070-331dc6fa-583d-11e8-9934-c9e5d1b99439.png)

But for this I deliberately put such column into the `Locati

[2018-05-15 14:40] cmtoomey commented on #134
@ryanbaumann I think that workaround is totally acceptable, and would think your assumption tile upload is valid here.

However, that does not resolve the issue of Mapbox-provided tiles. This UX appears to be linked to the fact that the bbox of those tiles is, appropriately, `the world.` While some, and perhaps most users, will have their own tilesets to visualize, a majority of users will likely

[2018-05-15 14:49] ryanbaumann commented on #138
@baspeti absolutely.  Here's are the samples to reproduce:

1. Workbook - [seattle_hoods_powerbi-180513 (1).zip](https://github.com/mapbox/mapboxgl-powerbi/files/2005451/seattle_hoods_powerbi-180513.1.zip) - Zoom into Seattle, Washington USA
2. [Workbook link](https://app.powerbi.com/view?r=eyJrIjoiODczMmU5MTItZTViYy00ZjRmLTg3MmItMjJmNjM2ZWY5OTEwIiwidCI6IjYyOWE3MGIyLTMyYjktNDEyNi05NTFlLTE3NjA0Y2Y0

[2018-05-15 16:44] baspeti commented on #138
@ryanbaumann @cmtoomey , I'm pretty sure I've found the cause of the issue. Actually my assumption was right that actually only the properties of the vector tile were shown (it was just a coincidence that it had a property called `AREA`)

Actually it was decision that we made, that if you configure choropleth in an incorrect way (like mistyping or not knowing the `Vector Property` of the custom ti

[2018-05-15 19:38] baspeti commented on #138
Fixed in PR #140
@ryanbaumann @cmtoomey , please confirm. And also consider my question in the comment above.

[2018-05-16 07:07] Tarasteed opened #141 "Add `Label` data format option"
Hi !
Can someone tell me how can i do to add labl to my circle point ?
I have a field "Name" and i want to display it on my circle.

[2018-05-16 16:32] szilardhuber commented on #139
@ryanbaumann with GL Js API updated to 0.45 I can't reproduce #135 so the flickering does not exist any more IMHO. Can you please confirm that or give some more insights on it?

And I think autozoom error was also because of that issue so I think that is fixed as well.

[2018-05-16 21:18] ryanbaumann opened #142 "How-To Add a Choropleth Guide"
Proposed copy for the Choropleth layer
# Mapbox Visual for Power BI  -Choropleth

1. Download and use the latest version of the Mapbox Visual PBIVIZ file (https://github.com/mapbox/mapboxgl-powerbi/raw/master/dist/mapboxGLMap.pbiviz)
2. Prepare the shapes you want to include in your visualization as a Choropleth layer.  If you need Countries, US States, or US Postcodes - no need to do this work, t

[2018-05-17 03:49] ryanbaumann commented on #141
@tarasteed we don't have a `symbol` label for a `circle` layer type yet.  Let's add this as a feature request!

[2018-05-17 03:50] ryanbaumann commented on #139
Fixed in PR #132

[2018-05-17 03:50] #139 closed

[2018-05-17 03:51] ryanbaumann commented on #138
@baspeti

Yes, I think we should omit tooltips if the layer configuration is invalid.

PR looks great for now, this specific issue is solved, so I'll close this issue.

[2018-05-17 03:51] #138 closed

[2018-05-17 03:53] ryanbaumann commented on #134
Set the default behavior in #132 to allow the user to set the map auto-zoom state in the map settings.  Closing this issue, while leaving open #133 for further consideration when filtering a Choropleth layer beyond it's bounds.

[2018-05-17 03:53] #134 closed

[2018-05-17 03:55] ryanbaumann commented on #135
This was a bug in GL JS 0.42.2.  Updating to GL JS 0.45.0 solves the problem.  This creates a much slower `Choropleth` layer experience using the data join, but that will be addressed in a near-term future version of GL JS.  Closing this issue via PR #132.

[2018-05-17 03:55] #135 closed

[2018-05-17 03:56] ryanbaumann commented on #81
Removing from milesetone 1.1, moving to 1.2

[2018-05-17 03:57] ryanbaumann commented on #90
This is easier to do now with the latest Mapbox Studio changes.  Moving to Milestone 1.2

[2018-05-17 03:58] ryanbaumann commented on #82
Tracking documentation for the Choropleth layer at

https://github.com/mapbox/mapboxgl-powerbi/issues/142

[2018-05-17 04:35] ryanbaumann commented on #28
Since feature states are still in an early Alpha phase in GL JS, let's move forward on this issue by removing the requirement to use FeatureStates.  Instead, we will use layer filters.  When a user hovers over a feature, we will add a new layer over the top which has a `hover` style state.  I'll provide an example of how this works tomorrow.

[2018-05-17 08:03] Tarasteed commented on #141
@ryanbaumann Oh ok thanks, Is there a way to do otherwise ?

[2018-05-17 14:53] ryanbaumann commented on #141
This would require a PR to add labels to circles only in Power BI.  You could add labels to Mapbox Studio based on the same data set you use for the circle layer in Power BI today as a workaround.

[2018-05-17 15:04] Tarasteed commented on #141
I can't do that in my case but thanks !

Le jeu. 17 mai 2018 à 16:54, Ryan Baumann <notifications@github.com> a
écrit :

[2018-05-17 20:37] ryanbaumann commented on #82
@kalimar can you try creating the example for the Choropleth map in Power BI?  It should....

- [ ] Power BI Desktop file saved in the /examples folder of this repo
- [ ] Use a US Postcodes tilesset included with the Mapbox Visual for Power BI
- [ ] Use this dataset of [US Population by postcode](https://dl.dropbox.com/s/likl86i7sfc2n9q/2010_us_population_by_postcode.csv)

[2018-05-18 08:25] Tarasteed opened #143 "Features poperties issue with PBI Desktop"
Hi !

I'm trying to get a value from a segment control if it is not set in the settings panel :

![image](https://user-images.githubusercontent.com/23456529/40223894-d79c25c0-5a84-11e8-80f0-50e18a1ab141.png)

On the Web PBI, it works fine, i can display my venue on click in segment control when it is blank in my settings panel :
![image](https://user-images.githubusercontent.com/23456529/40224012-

[2018-05-18 12:51] #143 closed

[2018-05-18 12:51] Tarasteed commented on #143
My bad, you can remove this issue.

[2018-05-18 16:27] ryanbaumann commented on #28
@endre-jenei updated the original post with the new layer filter technique list of tasks.

[2018-05-19 20:43] kky1 commented on #96
Once a radius or selected area on the map is chosen, it would be incredible to use the export feature in Power Bl of the lats and longs in the selected area

[2018-05-19 21:38] ryanbaumann commented on #96
@kky1 to clarify, do you mean that youd like to select & filter points in your viz in the  drive/cycle/walk time polygon region?

[2018-05-23 12:03] Tarasteed commented on #141
I added that :
`const circleLabelLayer = mapboxUtils.decorateLayer({
                    id: 'circle-label',
                    type: 'symbol',
                    source: 'data',
                    layout: {
                        'text-field': `{sizeValue}`,
                        'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                        'text-size': 15

[2018-05-23 16:04] ryanbaumann commented on #141
@tarasTeed awesome!  Could you make a PR with these changes to master so we can review the code together?  Thank you.

[2018-05-25 06:08] ryanbaumann opened #144 "Circle `Size` field does not handle non-numeric data values"
# Problem

If a user drops in a `string` or other `non-numeric` field into the `Size` field with a `circle` layer enabled, the circle layer will throw a console error and the tooltip will not work for the layer.  This provides for a poor user experience, but the visual does continue to work despite the error in the console.

![](https://cl.ly/202B0l371X1O/download/Image%202018-05-24%20at%2011.07.2

[2018-05-25 08:41] visarn commented on #90
Hi Ryan

I was wondering if my map style on mapbox already has 3d building bby changing building height. I was wondering why it does not show up on power bi?

Thank you

[2018-05-26 01:47] LeoLu28 commented on #22
@ryanbaumann  in mapbox powerbi can we set values or range values in a specific color?
example 0 = red, 1 - 4 =  yellow and > 5 is Green?
Thank you

[2018-05-26 14:30] ryanbaumann commented on #22
Hey @leolu28 -- This ticket tracks adding specific value ranges to colors as a feature request.  We'll take your feedback when building our roadmap, thank you!

[2018-05-28 08:33] Pimsen commented on #71
Hi Ryan,
I have the same issues on different devices (mobiles, tablets as well as laptops).

I tried your test build. In power bi the visual is not show the error message anymore but its loading all the time (the spinning circle). If I publish the report, the visual is working fine! Are there any restrictions in your test build?

Kind regards from Zurich
Steve

[2018-05-28 11:56] Mike-Honey commented on #133
I support this feature - It should zoom in or pan to show the selected state.

[2018-05-28 12:03] Mike-Honey commented on #78
I support this Solution - it's a very important scenario for several projects I'm working on - color Choropleth areas due to a specific palette (known to users).

I dont understand the technical detail of the block, but is a possible workaround to allow the user to specify a string field from the dataset that contains the required colors e.g. "FD6666" ?

While that wouldn't be the standard Power B

[2018-05-28 15:04] vitaly-livshits commented on #94
@ryanbaumann, can you please advise on the above? We are investigating a possible on-prem reporting architecture with PBI and this would help us plan accordingly.

[2018-05-28 18:37] ryanbaumann commented on #78
Good news @mike-honey, we're working on this during our next sprint.  We'll provide updates on the ticket.

[2018-05-28 18:38] ryanbaumann commented on #71
Hi @pimsen - what browser are you using locally when you only see the spinning circle?

[2018-05-28 19:09] ryanbaumann commented on #94
@vitaly-livshits yes, Mapbox supports all aspects of Power BI Report Server (March 2018 Edition) that I've tested so far.  I can't certify that 100% of the functionality is there, but based on my test, so far there's nothing missing.  If there is missing functionality you find, please open an issue and we'll work with you to address it ASAP.

![example-powerbi-reportserver](https://user-images.git

[2018-05-29 06:56] Pimsen commented on #71
Hi @ryanbaumann - Thank you very much :)

I have different browsers. Mainly I use Chrome. Its my standard Browser.

The map is loading (spinning circle) only in power bi desktop. In the browser its working.
When I configure the map it's necessary to publish to check the changes. It takes time to getting work done. It would be nice if we can check the map in the desktop application not after publis

[2018-06-01 18:53] #144 closed

[2018-06-01 22:44] ryanbaumann opened #149 "Add `rectangle` and `lasso` map filter selections"
# Feature request

This is a feature request built on top of the [data selection filter issue](https://github.com/mapbox/mapboxgl-powerbi/issues/2).  A user should be able to select features in the map with both a `click` for a single feature, a rectangular `box`, or a free-form `lasso` select.  This issue tracks work on the `lasso` select feature.

# Proof of concept

https://www.mapbox.com/analy

[2018-06-03 20:00] ryanbaumann commented on #149
Created a POC of this functionality for lasso select in #150

[2018-06-06 00:02] ryanbaumann commented on #81
cc/ @samgehret

[2018-06-06 19:38] samgehret commented on #28
Tested this in the drilldown branch, this looks to be working. See screenshot
![screen shot 2018-06-06 at 12 36 42 pm](https://user-images.githubusercontent.com/3859246/41061120-756a6b30-6986-11e8-8091-059ecc15e03e.png)

@ryanbaumann

[2018-06-06 19:48] samgehret commented on #95
Tested using drilldown branch, looks to be working.
![drilldownpowerbi](https://user-images.githubusercontent.com/3859246/41061562-d74379d6-6987-11e8-83dd-d9a0c60615a9.gif)

[2018-06-06 20:57] samgehret commented on #2
This is mostly working.
Some bugs:
1. Shift + Highlight multiple states, it will only select one state.
2. When there are multiple drill levels, after selecting it drills down to the lowest level and will skip the second level.

[2018-06-07 04:02] ryanbaumann commented on #48
We've confirmed that the next version of the Mapbox Visual will ship with support for Edge, Opera, and Safari in addition to Chrome and Firefox.

We're still working to see if we can get IE11 included in the supported browser list.  Stay tuned.

[2018-06-07 09:08] szilardhuber commented on #28
It should be fixed with 7ba6e9a0c229d1acedf7f1f6ba59687c93558300

[2018-06-07 14:34] szilardhuber commented on #2
@samgehret There have been a couple of fixes regarding selection and the issues you described. Could you please check them again?

Regarding the specific issues:

1. We fixed that.
2. We could not reproduce. Could you please some give some more details if it is still present?
3. We were abel to reproduct it before our fixes and were not able to reproduce afterwards, but to be honest we don't know

[2018-06-07 15:10] ryanbaumann commented on #123
Another impact - ES6 syntax is not supported by IE11.  We'll need to revert to ES5 to support IE11.

[2018-06-08 10:39] szilardhuber commented on #2
@samgehret I think we addressed all issues now with 72bf16364eef65f48631fe19408419b1238830fa

[2018-06-08 17:54] samgehret commented on #2
Hey team, great work. Things are working much smoother and the performance is improving every day. Most of the issues have been fixed. However a few remain.

1. When "drill mode" is on (the down arrow in the top right corner is highlighted), when I left-click on a state (or county, or any polygon), it should automatically drill into that selection and only that selection. When hovering over the "d

[2018-06-08 23:31] ryanbaumann opened #160 "Update to latest build of GL JS to address click-handler bug on IE & Edge"
Update to the latest master branch of GL JS to address click handler bugs in v0.45

https://github.com/mapbox/mapbox-gl-js/pull/6757

There should be a beta release on NPM soon cc/ @samgehret

[2018-06-09 00:13] samgehret commented on #2
@szilardhuber Thanks for the update. Regarding 1) Please make the change if you can. Regarding 2) We will open an issue with Power BI. Can you please create an issue in the open source repo with a code snippet, and we will flag it for Microsoft?

Also one more thing:
When drill mode is OFF, and a user single left clicks on a state (or any polygon). Can you implement the clicked polygon to remain s

[2018-06-09 17:04] ryanbaumann opened #161 "Do not show any values in tooltip, unless added to tooltip column"
In the latest drilldown branch, the `lon/lat`, `color`, and `size` values show up in the tooltip by default.  We should not add these to the tooltip unless the user puts them in the `tooltip` column.

cc/ @samgehret @szilardhuber @baspeti

![](https://cl.ly/3D1P1g37472M/download/Image%202018-06-09%20at%2010.01.55%20AM.png)

[2018-06-09 17:16] ryanbaumann opened #162 "Improve `hover` and `selected` feature styles"
Current styles for the circle and choropleth layers are static, which makes them only effective for certain layer color combinations.  Improving layer style for select and hover will improve the UX significantly.

Currently, there is a static color applied to all layers as the hover/highlight style (currently a shade of dark grey & blue in the `drilldown` branch).

# Proposal

* For hovers add an

[2018-06-09 17:34] ryanbaumann commented on #123
We reverted to ES5 in the latest `drilldown` branch, which solves this issue.

[2018-06-09 17:34] #123 closed

[2018-06-09 17:37] ryanbaumann opened #164 "Categorical color selection does not work for `string` type values on Choropleth layers"
# Problem

Adding a `string` datatype categorical color value that  to a Choropleth layer does not properly apply the data-join technique to the underlying vector layer.  The specified categorical colors do not apply, and vector tile features that do not match the user's dataset in Power BI show up in the rendered layer.

The root cause here seems to be because there are multiple matches for each

[2018-06-09 17:46] ryanbaumann commented on #164
Fixed in https://github.com/mapbox/mapboxgl-powerbi/pull/163/commits/955fed1058a907b8b884ec693bc423d00e09bfb2

[2018-06-09 17:46] #164 closed

[2018-06-09 17:49] ryanbaumann commented on #160
Changed to test the latest master build here.  https://github.com/mapbox/mapboxgl-powerbi/pull/163/commits/929afe6ef8a6e97bc3336c8d7ee893f228e261c7.  Be sure to update this before release to the production release of GL JS.

[2018-06-09 18:13] ryanbaumann commented on #22
This is now possible in the latest version of the Mapbox Visual if you use `string` values for your categories @LeoLu28 - try it out and let us know your feedback at https://github.com/mapbox/mapboxgl-powerbi/pull/163

[2018-06-09 19:47] ryanbaumann opened #165 "Allow `click` on autoZoom button to toggle the autoZoom setting"
# Problem

Branch effected: `drilldown`

The `button` toggle does not trigger a change in the global visual `settings.api.autoZoom`.  This means that an end consumer of the report cannot currently turn autoZoom on or off.

Although the autoZoom button toggle changes value, when a new data update is applied the setting returns to the value in `settings.api.autoZoom`.

Example:
![](https://cl.ly/1n1

[2018-06-10 15:47] ryanbaumann commented on #149
This is complete in https://github.com/mapbox/mapboxgl-powerbi/pull/163

[2018-06-10 15:47] #149 closed

[2018-06-10 15:48] ryanbaumann commented on #125
This is complete in https://github.com/mapbox/mapboxgl-powerbi/pull/163

[2018-06-10 15:48] #125 closed

[2018-06-10 15:49] ryanbaumann commented on #95
This is complete in https://github.com/mapbox/mapboxgl-powerbi/pull/163

[2018-06-10 15:49] #95 closed

[2018-06-10 15:50] ryanbaumann commented on #78
This is complete in https://github.com/mapbox/mapboxgl-powerbi/pull/163 cc/ @Mike-Honey

[2018-06-10 15:50] #78 closed

[2018-06-10 15:51] ryanbaumann commented on #28
This is complete in https://github.com/mapbox/mapboxgl-powerbi/pull/163

[2018-06-10 15:51] #28 closed

[2018-06-10 15:52] ryanbaumann commented on #27
Closing this issue - we're not planning to move to the custom UI in the near future.

[2018-06-10 15:52] #27 closed

[2018-06-10 15:55] ryanbaumann commented on #89
This is complete for Circle and Choropleth layers in https://github.com/mapbox/mapboxgl-powerbi/pull/163

[2018-06-10 15:55] #89 closed

[2018-06-11 14:07] ryanbaumann opened #166 "Remove max number of features limit for map data selection"
# Problem

Currently, we limit user to select 1,000 features or less in the map https://github.com/mapbox/mapboxgl-powerbi/blob/drilldown/src/ts/constants.ts#L5.  This is because the Power BI `filter` operation is very slow to execute when adding significantly more data.

# Solution

Can we increase the speed of the filter operation?  For point geometries, could we pass a filter to the PowerBI dat

[2018-06-11 14:57] ryanbaumann commented on #166
Two options to check:

- [ ] Pass a [southwest, northeast] point to the QRF() query representing the bbox of the user's drawn polygon on the map.  https://www.mapbox.com/mapbox-gl-js/api/#map#queryrenderedfeatures
- [ ] Ensure that the turf functions checking if the subset of points contained in the user's drawn polygon only run the minimum number of times per feature.  AKA only run one turf funct

[2018-06-11 19:04] samgehret opened #167 "Drilldown with multiple-selection only drills down into one of the selections."
In our custom visual we support both multiple selection and drilldown.

External ticket opened with [Microsoft here](https://github.com/Microsoft/PowerBI-visuals/issues/352).

When the top-right hand corner drilldown mode is enabled and we click on a datapoint and select that with selectionManager it works fine (drills down to next level and shows only data from the selected item of the previous l

[2018-06-11 19:19] kalimar commented on #142
Hey team, I've revised  @ryanbaumann choropleth docs.  @samgehret please take a look and open up a ticket with @colleenmcginnis to create new public docs. Please let me know if you have any questions or comments.

# Proposed copy for the Choropleth layer documentation

# Mapbox Visual for Power BI -Choropleth
## Quick Overview

There are three steps to quickly create your own Choropleth visualizat

[2018-06-11 22:51] mtirwin commented on #149
:clap:

[2018-06-11 23:05] samgehret opened #168 "Modify Lasso and Polygon icons to indicate selection."
Can you darken the lasso or polygon selector when it is selected to indicate that it is enabled? Right now its hard to determine which one is selected. For example, when I click the lasso icon to enable lasso select, the icon doesn't change, so I'm not sure it's enabled.

When I hover over the icon, it becomes slightly darkened, but does not stay darkened when selected. I think we can even make th

[2018-06-11 23:05] samgehret commented on #167
We can't work on this until we hear back from Ignat at Microsoft.

[2018-06-11 23:09] ryanbaumann commented on #168
cc/ @baspeti @szilardhuber

[2018-06-11 23:15] samgehret commented on #167
@ryanbaumann I am removing this from 1.2 release since we are coming to crunch time and need information from Ignat. Time permitting, I can add it back if we feel we can deliver.

[2018-06-12 05:29] MikeAinOz commented on #142
I'm having some trouble getting this version of the visual. Is this the current version or where should I load it from? I don't have a location field or the three colours. I can't figure out if it's the visual or Power BI that's hanging on to the old version

[2018-06-12 07:41] Mike-Honey commented on #78
I've applied the #163 build and can see some other new Format properties e.g. Level. But I can't see anything new to control categorical colors.  Should that appear under Choropleth:?  I'm seeing the previous numeric scale color controls, e.g.

![image](https://user-images.githubusercontent.com/9509644/41276407-7c5c0bde-6e67-11e8-9d08-2e61b4495d66.png)

I tried dragging a text field onto the Color

[2018-06-12 07:55] szilardhuber commented on #78
@Mike-Honey you should be able to set the categorical colors under the Data Colors preferences group like in this video:

![Categorical colors](https://camo.githubusercontent.com/aec805b2b57c4f94388dac227e949f21f9dff855/68747470733a2f2f636c2e6c792f3435336633303338335631712f646f776e6c6f61642f53637265656e2532305265636f7264696e67253230323031382d30362d3039253230617425323031302e3532253230414d2e676966)

[2018-06-12 11:27] Mike-Honey commented on #95
I got this feature working with 2 levels - both Custom Tilesets. Thanks so much for all the hard work to get this going.

But when I drill from Level 1 to Level 2, the filtered set of polygons are shown, but it doesnt autozoom in to them (like in the gif above) ?

Level 1 - all polygons (correctly auto-zoomed):
![image](https://user-images.githubusercontent.com/9509644/41287715-f7c75d72-6e86-11e8-

[2018-06-12 11:43] Mike-Honey commented on #78
Thanks for the speedy reply. That's exactly what I want to achieve.

But when I drag a text field onto the Color well I get the error I showed above - "Couldnt load the data ...".

[2018-06-12 13:04] ryanbaumann commented on #78
@mike-honey could you link you sample workbook file producing the issue on this ticket (as a .zip) to help us recreate?  Thank you!

[2018-06-12 13:07] ryanbaumann commented on #95
@mike-honey thanks, pumped it works well!  Auto-zoom to a subset of vector tile features is not currently supported - we're tracking that feature request here. https://github.com/mapbox/mapboxgl-powerbi/issues/133   Cc @samgehret

[2018-06-12 16:08] samgehret opened #171 "Allow User to Deselect Lasso or Polygon Selector from Chloropleth maps"
Currently when a user selects Lasso or Polygon selector on the maps, there is no way to deselect it without using the selector first, and the clicking outside the boundary.

Once lasso or polygon is selected, they should be able to click which ever one is selected to unselect it.

For example, if I select lasso, the icon darkens to indicate its selected. If I click lasso again, the icon should go

[2018-06-12 21:22] samgehret commented on #142
@MikeAinOz, Sorry you were having issues! I just uploaded our beta 1.2.1 version of mapboxGLMap.pbiviz to the /dist folder of the master branch. Can you try to download and use that one? Let us know if you run into any other problems!
-Sam

[2018-06-13 03:46] #168 closed

[2018-06-13 03:47] ryanbaumann commented on #162
Update - there is now a user-configurable `highlight color` that @samgehret added in the format options pane.  This highlight color applies to circle and choropleth layer types.

[2018-06-13 03:47] #162 closed

[2018-06-13 03:50] ryanbaumann commented on #82
@kalimar can you drop your workbook example here?  We'll bundle this up as an example in the repo.

[2018-06-13 03:51] #2 closed

[2018-06-13 04:03] MikeAinOz commented on #142
Ok Sam, That did the trick. I do suspect that 'Remove Custom Visual' in Power BI only removes it from the menu and not deeper down, I started a fresh Power BI and imported the visual and it was fine. There's some interesting stuff there with level numbers, is that going to be available? I have the top level, and then another level down which is not on this map, I'd like to drill through, use the m

[2018-06-13 09:52] baspeti commented on #171
Well, I know it is quite hidden, but hitting the `Esc` key cancels both polygon and lasso drawing. I just wanted to note that. And yes, I agree, clicking on the icon again would also be a good way to deselect.

[2018-06-13 13:29] kalimar commented on #82
Here's the example using existing Power BI shapes, https://app.powerbi.com/groups/me/reports/ebfef389-9425-43b2-98bc-68821852ed70?ctid=629a70b2-32b9-4126-951e-17604cf456ec

And here's an example using custom polygons: https://app.powerbi.com/groups/me/reports/e188e4eb-60ed-47d7-acc0-b026ce747bcd?ctid=629a70b2-32b9-4126-951e-17604cf456ec

[2018-06-13 14:47] indiciagerry opened #173 "Allow CTRL+Click to add/remove a polygon from the selection"
Requirements:

[Sample Code](https://gist.github.com/samgehret/5a880ef0114cdd23ca04b3c9d63add88)

The lasso and polygon seletion is really cool!

But if you dont select precisely what you want, you have to retry again and again...
You also may need to deselect a zone in the middle of the selection and you cannot do it as it is now.

So it will be nice if you allow CTRL+Click to add/remove a polygo

[2018-06-13 17:26] samgehret opened #175 "Bug with IE 11 Support"
The visualization shows the map now but it throws JS exception as Map Box uses findIndex method that is not supported by IE11.

 We’d recommend to rewrite this method using some method instead.

Please also consider adding types to every variable and function/method argument in order to avoid such issues.

@szilardhuber @baspeti

[2018-06-13 19:42] samgehret commented on #90
@ryanbaumann Should I move this into 1.3? Seems like a short time to turn this around.

[2018-06-13 19:50] #165 closed

[2018-06-13 20:30] ryanbaumann commented on #90
yes @samgehret

[2018-06-13 22:51] ryanbaumann commented on #173
cc/ @samgehret

[2018-06-13 22:57] ryanbaumann commented on #160
There is a beta version of GL JS 0.46 going out today - for the next build, we'll want to:

- [ ] Update `package.json` to use GL JS `beta-0.46.0`
- [ ] Update `pbiviz.json` to point to the `node_modules/mapbox-gl-js/dist/mapbox-gl.js` version of GL JS https://github.com/mapbox/mapboxgl-powerbi/blob/master/pbiviz.json#L21
- [ ] Remove the local-built copy of GL JS in https://github.com/mapbox/mapb

[2018-06-14 01:37] samgehret commented on #175
@szilardhuber @baspeti I took a first stab today and made some updates which seem to be working. The original branch was called ie11 and it is merged to master.

[2018-06-14 22:28] samgehret commented on #48
@ryanbaumann closing this issue as we now support Edge Safari and IE11

[2018-06-14 22:28] #48 closed

[2018-06-14 22:34] samgehret commented on #142
@MikeAinOz All of these features should be available in our next release :)

Drilling between layers will indeed be supported, and should work already in the version you are on... same with using the map as a filter for other visuals. Really appreciate your feedback, glad you are enjoying it!

[2018-06-14 22:38] samgehret commented on #160
@ryanbaumann Believe we can close this one.

[2018-06-14 22:38] #160 closed

[2018-06-15 14:15] VBADekker commented on #94
Hi,
I don't know if I should post this here but I'm new to both Mapbox and Github.
I've made a chloropleth map with the Mapbox visual however, when I want to publish it to web (my own workspace) it draws a blank.
![mapbox publish to web probleem](https://user-images.githubusercontent.com/37701501/41472605-4200cce8-70b7-11e8-9371-68a21aff2ae0.PNG)
Any idea what I might have done wrong?

[2018-06-16 16:11] ryanbaumann commented on #175
Can we close this issue after https://github.com/mapbox/mapboxgl-powerbi/pull/176?

[2018-06-18 07:00] Mike-Honey commented on #78
Sorry for the red herring - I have been unable to repo this issue, and after I removed and re-added a tooltip field my original scenario is working fine too.

[2018-06-19 20:43] indiciagerry opened #180 "The circle/pin does not show when filtering to only one location and size is used."
The problem only appen when filtering to only one location and a value in the size bucket.
The auto-zoom focus on the area but the pin does not appear.

[2018-06-20 07:04] cdtavijit commented on #71
I still can't get this to work. I have enabled webgl in my chrome and restarted. However, it still does not work for my case.

[2018-06-20 14:04] ryanbaumann commented on #71
cc/ @samgehret

[2018-06-20 21:40] samgehret commented on #175
Closed

[2018-06-20 21:40] #175 closed

[2018-06-20 22:44] samgehret commented on #81
@ryanbaumann made PR for this feature to master.

[2018-06-20 23:21] samgehret opened #182 "Circle Layer- When no color added to visualization, update settings throws an error"
Steps to reproduce:

- Create a circle map, don't add color to the data properties (only lat/long).
- Try to change a property such as highlight color. On the GUI, the setting changes, but its not applied to the map
- Open your console, notice the exception thrown.

![image](https://user-images.githubusercontent.com/3859246/41689289-c19f0988-74a4-11e8-9232-769570b98a2b.png)

- This error originate

[2018-06-24 11:59] AndrewLockett commented on #142
Apologies for a likely dumb question. I downloaded the beta version on 12th June and choropleths were working just fine with all the new features. I've now downloaded the master (v 1.2.3 I believe) and no 'Location' field is appearing to start building the choropleths. I've gone back to 1.2.0 and same story. Am I missing something? I have the old pbviz file from 12th June which is still working fi

[2018-06-24 21:30] ryanbaumann commented on #180
Thanks for the bug report @indiciagerry - can you include a sample screenshot/video of your issue, alongside a sample pbix workbook file so we can re-create?  Thank you!

[2018-06-26 11:17] Mike-Honey opened #183 "Choropleth using Data Colors - forgets color settings after filtering"
[mapbox issue 183 repo.zip](https://github.com/mapbox/mapboxgl-powerbi/files/2136885/mapbox.issue.183.repo.zip)
I've noticed an issue when using the Choropleth feature and setting Data Colors (based on a text/string field). When an external filter (e.g. a Slicer tile) changes the list of Data Colors, the visual sometimes "forgets" the settings.

The repo steps are a bit complicated - see attached.

[2018-06-26 11:28] Mike-Honey commented on #142
In recent betas there is a new feature when a text/string field is used in the Color well.  A Data Colors section appears in the Visualizations / Format pane, where you can set specific colors for each text value.

[2018-06-27 03:10] ryanbaumann commented on #183
Thanks for the detailed bug report, @Mike-Honey!

cc/ @samgehret

[2018-06-27 13:20] Ragha2207 commented on #161
One more request is that the tooltip shouldnt also display the values of the column selected as the "color". In the above case, for example density.

[2018-06-27 14:03] indiciagerry commented on #180
Here is a sample.

The sample contain 2 tabs, one with the mapbox from the store and another with a newer version.

There is 5 points in the map in the sample. When you select only one of them, the dot disappear.

If you remove the value in the "size" bucket its OK, the dot stay visible in the new version.

In the version from the store, the dot always disappear but it look like its from the "too

[2018-06-27 17:18] baspeti commented on #142
I'm experiencing the same thing about the `Location` field. How can I create choropleth visualization without `Location` field?

[2018-06-27 20:58] samgehret commented on #142
@AndrewLockett Due to some restrictions on the Power BI side, you won't be able to use the .pbviz from the master branch until it is released to the Power BI App Store. There is a unique ID built into the file which is the same as the one on the app store. When it loads into Power BI, it will function as the currently released one on the app store. Therefore, continue to use the beta version (from

[2018-06-28 06:54] AndrewLockett commented on #142
Hi, thanks for that clarification. Reading the documentation I thought the
master branch would contain all these enhancements. Any idea on the launch
date of these upgrades to the App Store?

I also have some feedback on choropleth colours (both numeric and
categorical) and tooltips format. Where should I record these comments /
feature enhancements?

Thanks again. Andrew

On Wed, 27 Jun 2018, 21:

[2018-06-28 21:56] kbauhaus opened #184 "3d choropleths using custom shapefiles rather than state, zip code"
This feature was requested through communications with the Mapbox support team. @samgehret, sounds like this could potentially be handled by adding a feature that enables data driven heights with 3d choropleth extrusions.

[2018-06-28 22:02] kbauhaus opened #185 "Add ability to make a 3d heatmap"
This feature was requested through communications with the Mapbox support team. Would require data driven heights.

cc @samgehret

[2018-06-28 22:09] AlaskanPreston commented on #185
Thanks Kayla!!!  Let me know if there's any way I can help answer questions.

[2018-06-29 03:06] Ratchawit opened #186 "Cross filtering doesn't work when clicking on a data point on Mapbox visual"
Normally when user clicks on a visual element of Power BI, other visuals on the same page will be cross filtered. This is not the case for Mapbox visual where clicking results in zooming in.
If it is by design, please consider adding an option to allow cross filtering. It would be consistent user experience with other existing PBI visuals and allow user to see extra information in other visuals th

[2018-06-29 08:28] Ratchawit opened #187 "Auto zoom causes beyond max zoom when a map is cross filtered with a single data point"
Mapbox visual auto zoom goes beyond max zoom level (22) when it's cross filtered by another visual with a single point data present. Please see the attached gif below.

![infinite auto zom](https://user-images.githubusercontent.com/40681007/42081604-13b8f014-7bb0-11e8-8ce6-a157f4b28f08.gif)

[2018-06-29 16:30] samgehret commented on #187
@Ratchawit this should be fixed in our latest version. You can check out the beta here: https://github.com/mapbox/mapboxgl-powerbi/blob/drilldown/dist/mapboxGLMap.pbiviz

[2018-06-29 17:20] samgehret opened #188 "Ability to make 3d Choropleth Extrusions Out of the Box"
Add functionality where users can make 3d Chroropleth Extrusions as a standard feature.

[Sample Code](https://github.com/mapbox/mapboxgl-powerbi/tree/Choropleth-3dExtrusion)

Needed features:
- Create a new height field within the Fields Panel
- Within the Choropleth Format Panel, there needs to be settings for base, and a height multiplier. In case there are different levels, users should be abl

[2018-06-29 17:21] samgehret commented on #184
Wrapping this into https://github.com/mapbox/mapboxgl-powerbi/issues/188

[2018-06-29 17:21] #184 closed

[2018-07-01 23:04] fmmnyc opened #190 "Associate a different color for different location types"
This is a request for a new feature - apologies if this has already been requested.
The goal would be to select the display color for a (lat, long) pair depending on a field that would act similarly as the "legend" in other Power BI visualizations.

[2018-07-02 00:43] ryanbaumann commented on #190
cc/ @samgehret

[2018-07-02 16:36] samgehret commented on #186
@Ratchawit Cross filtering should also work in the latest beta. Can you give it a try?

[2018-07-04 04:03] Ratchawit commented on #186
@samgehret Fixed in beta. Thank you.

[2018-07-04 04:03] #186 closed

[2018-07-04 14:39] brentlightsey commented on #71
I seem to still get this message any time I'm using a virtualized PC. I've seen it happen in VMWare VPCs as well as one running on Azure. Thought that may be useful to know.

[2018-07-06 15:38] #190 closed

[2018-07-07 15:16] PedroRiveraTorresMoir commented on #92
Hi @ryanbaumann , amazing work on the visual! I was wondering if this feature is still on the pipeline or currently went on the backlog. Knowing when or if this will be released would helps us plan the deployment of certain capabilities.

Thanks!

[2018-07-07 16:10] ryanbaumann commented on #92
cc/ @samgehret to comment on priority here, @PedroRiveraTorresMoir.  Now that we have the Choropleth layer complete, a linestring layer using vector-tile sources created from shapefiles / geojson files is feasible to implement.

[2018-07-09 18:45] shreyanshmohnot opened #193 "Loading spinner does not disappears"
In my power bi visual, I have created a custom map on mapbox.com styles and I am rendering it in here. After the map is fully loaded and all data points appear over the map, the spinner does not disappear. It still keeps on loading. How can I remove spinner from the background?

![capture](https://user-images.githubusercontent.com/9215778/42469545-09e567b0-8386-11e8-920c-9c7045aea826.PNG)

[2018-07-11 16:11] samgehret commented on #193
@shreyanshmohnot This should be fixed in our latest version. Just went live on the marketplace today.

[2018-07-11 16:11] #193 closed

[2018-07-15 13:11] Mike-Honey opened #197 "Docs: Make a choropleth map - missing Data Colors feature"
In recent betas there is a new feature when a text/string field is used in the Color well. A Data Colors section appears in the Visualizations / Format pane, where you can set specific colors for each text value.

This is not described in the doco:
https://www.mapbox.com/help/power-bi-choropleth-map/

[2018-07-15 19:43] PedroRiveraTorresMoir opened #198 "Disappearing choropleths"
@ryanbaumann there seems to be a weird bug where if I zoom in, the section of rooms called "botanicas" disappears from the map. If I continue zooming in however, they reappear. Do you know what may be causing this?

Here's a public link to the PowerBI report:

https://app.powerbi.com/view?r=eyJrIjoiM2Q1ZmUwZDYtY2U0Mi00YmU5LWJlOTktNjI1NDM3NzViYjFiIiwidCI6IjlmMmRjOGFhLTEyMzgtNGZmYi05MDQzLTBkODI3MzM5

[2018-07-15 19:46] PedroRiveraTorresMoir commented on #198
@ryanbaumann strangely enough this bug has now disappeared when I changed the style from the "light" default, to a custom one. I'll let you know if this reappears. Best

[2018-07-16 03:06] ryanbaumann commented on #198
@pedroriveratorresmoir what version of the Mapbox Visual for Power BI are you using?   cc/ @samgehret

[2018-07-17 14:44] kky1 commented on #96
Yes. I'd like to have the ability to draw/select directly on a MapBox map in Power BI, then export all pinpoints inside the selection.

[2018-07-17 14:59] ryanbaumann commented on #96
Can you try thr latest beta version (download in the read me) and see if this works in PowerBI with the latest Mapbox visual?  Cc/ @samgehret

[2018-07-17 18:31] prathmj commented on #48
Just checking to see if this was shipped in the 1.2 version. We still get the same error message on Edge and Safari.

[2018-07-17 20:23] kky1 commented on #96
Hi Ryan. I've downloaded the zip file. Is there a file location where I should place the java script files? Basically, what do I need to do with the zip file so that Power BI sees this function? Thank you for your assistance.

[2018-07-17 21:55] ryanbaumann commented on #96
@kky1 you can try the latest beta at this address https://github.com/mapbox/mapboxgl-powerbi/raw/v1.3/dist/mapboxGLMap.pbiviz

[2018-07-17 22:05] AlaskanPreston commented on #96
Hi Ryan,

Can we get a copy of this that works for the March 2018 PBIRS edition?

Thanks,

Preston

On Tue, Jul 17, 2018 at 1:55 PM Ryan Baumann <notifications@github.com>
wrote:

[2018-07-17 22:29] ryanbaumann commented on #96
cc/ @samgehret

[2018-07-18 02:47] AlaskanPreston commented on #96
It works, thanks!!

On Tue, Jul 17, 2018, 3:27 PM Sam Gehret <notifications@github.com> wrote:

[2018-07-18 13:55] stephshadwell opened #199 "Add selection setting to allow plotting data `above` or `below` labels on map"
I have updated to the new version of map box with power bi, to take advantage of some of the new features. However, i have noted that it seems to have changed some maps produced using the old version, so that the data points now seem to sit behind the map layer as opposed to on top. Is this to do with the upgrade, as i have not seen this previously? Or is it to associated with map style design tha

[2018-07-18 14:54] kky1 commented on #96
Thank you Ryan and Samgehret - it works and such a great upgrade!! Is there anyway to add a functionality when using either of the drawing tools to measure the distance of the radius, etc. being drawn?

[2018-07-19 00:30] PedroRiveraTorresMoir commented on #69
Just curious @ryanbaumann . Is the option to add ArcGIS Online Tile Layers available as an option for choropleth viz? I published a Tile Layer from ArcGIS Online, and selected the "available offline" and "build tiles" option but it's not pulling in the polygons. Thanks for any orientation regarding this.

[2018-07-19 02:51] ryanbaumann commented on #69
@pedroriveratorresmoir no, ArcGIS Online Tile Layers are not supported in the Mapbox Visual for Power BI.  However, you can upload your source shapefile or geojson file to your Mapbox account and use them in Power BI.  https://www.mapbox.com/help/power-bi-choropleth-map/

[2018-07-19 04:00] PedroRiveraTorresMoir commented on #69
That’ll work, thanks.

________________________________
From: Ryan Baumann <notifications@github.com>
Sent: Wednesday, July 18, 2018 9:51:31 PM
To: mapbox/mapboxgl-powerbi
Cc: Pedro Rivera Torres Moir; Mention
Subject: Re: [mapbox/mapboxgl-powerbi] Enable vector tile sources using data-join for all layer types (circles, fill, lines, extrusions) (#69)

@PedroRiveraTorresMoir<https://github.com/Pedr

[2018-07-19 05:21] MikeAinOz opened #200 "Choropleth features from beta not present in current release"
I have a very nice choropleth working from the beta power bi visual that I downloaded on 13th June     "version": "1.1.3" . The one I’ve recently downloaded from the marketplace (version 1.2.3) does not have these features yet, it still looks like the old version but the version number has gone up I think.
![choropleth1](https://user-images.githubusercontent.com/363841/42923089-0b62d300-8b67-11e8-

[2018-07-21 18:32] ryanbaumann commented on #200
The updated visual is available on the marketplace today @MikeAinOz !  Check it out at https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381472?tab=Overview

[2018-07-21 18:32] #200 closed

[2018-07-21 18:43] ryanbaumann commented on #199
@stephshadwell the default behavior of the visual is to place visualization layers behind the lowest `symbol` layer in the map.  That means that data plotted in Power BI onto the map style will appear below text labels and icons.  This is what we've seen from BI developers that most visualizations need.

In version 1.1.3 on the Office Store, we did not apply the `lowest symbol layer` logic for cus

[2018-07-21 18:48] ryanbaumann commented on #198
@PedroRiveraTorresMoir love your example visual here, did I mention that?  Very cool use of 3D buildings and Choropleths.

Please try the latest version of the Mapbox Visual for Power BI now on the office store (v1.2) and see if you can replicate this issue.  https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381472?tab=Overview

[2018-07-21 18:51] ryanbaumann commented on #197
Thanks, @Mike-Honey we need to add this to the docs!  cc/ @samgehret

[2018-07-21 18:53] ryanbaumann commented on #185
Duplicate of https://github.com/mapbox/mapboxgl-powerbi/issues/188 -> closing this to track in the other issue.

[2018-07-21 18:53] #185 closed

[2018-07-21 19:01] ryanbaumann opened #201 "Docs - Mapbox Visual compatibility with Report Server, Embedded, Publish to Web, etc."
Create documentation on www.mapbox.com/help and in the Readme.md doc in this repo about compatibility with various Power BI tools.

| Mapbox Visual  Version | PBI Report Server | PBI Mobile (iOS/Android) | PBI Embedded | PBI Publish to Web | PBI Desktop | Chrome | Firefox | Safari | Edge | IE11 |
|------------------------|-------------------|-------------------|--------------|--------------------|

[2018-07-21 19:11] ryanbaumann commented on #94
Closing in favor of https://github.com/mapbox/mapboxgl-powerbi/issues/201

[2018-07-21 19:11] #94 closed

[2018-07-21 20:18] ryanbaumann commented on #201
Updated readme in master branch at https://github.com/mapbox/mapboxgl-powerbi/commit/32455776ca019e4ea1fbfa696f4861c5668b811e

[2018-07-23 19:35] ryanbaumann opened #202 "Get Power BI `Certified Visual` status"
Submit the Mapbox Visual for Power BI to the Office Store's certification process https://docs.microsoft.com/en-us/power-bi/power-bi-custom-visuals-certified

cc/ @samgehret

Potential challenges

* Accessing exernal resources (api.mapbox.com)
* Applying ESlint checks (we should do this anyway)

[2018-07-24 14:05] ErinQuinn commented on #197
@Mike-Honey just want to say thanks for the new concept of `doco` :)

[2018-07-25 05:22] MikeAinOz opened #203 "More complex tilesets not showing in choropleth"
I have a 3M tileset mikeainoz.2y7pnzxg that shows up just fine on the choropleth. This is a feature collection of polygons. I have two more complex tilesets mikeainoz.9l4fvniy and mikeainoz.sa4_qld_stroked that ar 12-13M and contain multipolygon features that I cannot get to work. I'm assuming I've stuck some limit here. I've checked the doco and I kind find anything relevant to this. What should

[2018-07-26 14:04] ryanbaumann commented on #203
@MikeAinOz what's the minimum zoom level of the tileset that you uploaded to your Mapbox account?  For example, this tileset  has minzoom of14 meaning it won't be visible until I zoom into building level detial in a city.  Additionally, only polygons that have a matching `property` value will show up in my map.

![](https://cl.ly/2b2S0q2q1A35/download/Image%202018-07-26%20at%207.01.43%20AM.png)

T

[2018-07-26 22:34] MikeAinOz commented on #203
@ryanbaumann my zoom level for the non-working tilesets is z6 - z12 which I assume to be the problem as the z0 - z12 works fine. I've been manipulating the GeoJson with Python, so I'd prefer to set the zoom level there, What and where is the property set? I've also got QGIS if I can use that to do the trick, Tippecanoe not an option I'm on Windows :-(. Thanks for all your help, I found the Python

[2018-07-27 00:01] jonathankapoor opened #204 "Auto zoom not working"
When a map visual is loaded or filtered (slicer, cross highlighting etc) the Mapbox visual doesn't automatically zoom.

[2018-07-27 07:13] ryanbaumann commented on #203
Does the visual show up if you zoom in past the min zoom of the tileset @mikeainoz?

[2018-07-28 17:40] ryanbaumann commented on #204
Thanks for the issue @jonathankapoor - can you provide a screenshot of the issue and upload a power bi workbook file reproducing the issue?  What type of visualization layer are you using - circle, choropleth, etc?

[2018-07-28 19:31] ryanbaumann commented on #136
Here is the list of supported `Location` names are supported in the Mapbox Visual for Power BI 1.2.3 release for Global Countries, US States, and US Postcodes choropleth layers.

https://docs.google.com/spreadsheets/d/1k5HvzWdeuELwnL-Ta1Jt7wghOOrRpmQU438_LfohBEI/edit?usp=sharing

- [ ] @samgehret translate this data into public-facing documentation on mapbox.com

[2018-07-28 23:45] tonyberrynd opened #205 "Mapbox Visual for Power BI doesn't display in Desktop on external monitor or some VMs without accelerated graphics"
I just installed the MapBox Visual from the marketplace and get blank view on PowerBI Desktop.  However, when I publish to PowerBI Service everything displays correctly.

I have PowerBI Desktop running on a Macbook Pro 15" in a WIndows 10 image on VmWare Fusion 10.

Any thoughts?

[2018-07-29 01:44] ryanbaumann commented on #205
@tonyberrynd sounds like a Web GL support issue - does your Windows 10 VM on your Macbook have access to the GPU?  Try one of these pages -> https://get.webgl.org/ to confirm on your Windows machine using Chrome.

[2018-07-29 14:55] tonyberrynd commented on #205
Thanks Ryan.  Looks like WebGL is enabled.  FYI, I also tried this in an Amazon Windows Server EC2 and get the same error.

![image](https://user-images.githubusercontent.com/7888890/43367574-3992a184-931d-11e8-8893-bd5e615601c2.png)

I also tested on the June release of PowerBI Desktop and same issue.

[2018-07-29 19:29] ryanbaumann commented on #205
Hmm, still seems WebGL related in PBI Desktop.  The EC2 Windows instance will have the same fundamental problem - access to the GPU.  Chrome itself has a software rendering fallback in swiftshader - I'll work with the Power BI team to see how we can debug this better.  Stay tuned.

[2018-07-29 20:16] tonyberrynd commented on #205
Thanks.  Appreciate the help on this.

[2018-07-29 23:42] ryanbaumann commented on #205
cc/ @samgehret

[2018-07-30 02:37] MikeAinOz commented on #203
@ryanbaumann I tried zooming in, no joy. I've attached the pbix renamed as a zip

[MapBoxSA4Qld.zip](https://github.com/mapbox/mapboxgl-powerbi/files/2239506/MapBoxSA4Qld.zip)

[2018-07-30 07:00] MikeAinOz commented on #203
@ryanbaumann Thanks Ryan, that's awesome I realize now that my previously working one for Queensland electorates was joined on Name rather than Number which led me astray on this one as I assumed number. Tippecanoe looks good, I'll have to get a Linux VM up and running to use it. Detecting shared borders will go a long way to reducing tileset size. Thanks for your help I'll be showing this sample

[2018-07-30 07:56] stephshadwell opened #206 "Tooltip on map doesn't display format of field"
Requirements:
- Only fields in the tooltip panel show up on the map.
- Tooltips respect the data format coming from power bi... so if I looked at the data in a row visualization, it should look the same on the tooltip.
- Aggregations and metrics in the tooltip should respect the form of the metrics being aggregated.

I have noticed that the tooltip on both chloropleth & circle maps does not show t

[2018-07-30 08:00] stephshadwell commented on #204
i was going to raise this today but thought it would be easier to keep as the same issue, as i have spotted this same issue on the new chloropleth map (circle maps seem to be zooming fine for me). I think it seems to default to the tileset layer as a whole, rather than filtering as per any filters within Power BI. The tileset in this example is the MSOA boundaries in England and Wales.

![image](h

[2018-07-30 14:07] ryanbaumann commented on #204
Thanks, @stephshadwell, we're tracking autozoom to a subset of features in a tileset as part of https://github.com/mapbox/mapboxgl-powerbi/issues/133.  It's on our roadmap for the next release.

[2018-07-30 14:09] stephshadwell commented on #204
Thats great to hear. Thanks @ryanbaumann

[2018-07-30 14:15] #204 closed

[2018-07-30 14:16] ryanbaumann commented on #206
Thanks for the bug report @stephshadwell!  cc/ @samgehret

[2018-07-31 13:33] stephshadwell commented on #199
Thanks for this tip, it has worked perfectly. It would be great if it could become a feature that you can just switch easily in Power BI, as i can see it being used both ways depending on what you are displaying.

Thanks for all your help

[2018-07-31 14:25] ryanbaumann commented on #199
Thanks @stephshadwell!  @samgehret updated this to a feature request.

[2018-07-31 19:14] prathmj opened #207 "Mapbox potentially causing crash on iOS devices"
When I use a slicer on any report page that has MapBox on it on an iPad/iPhone it seems to crash the page. This doesn't happen on an equivalent page with the default Bing Maps on it. See the links below:

Bing Maps (Page 1) - no crash when switching the "Community Board" slicer:
https://app.powerbi.com/view?r=eyJrIjoiYWNjMjJkMDQtNmIxNS00MTI4LWE4NTUtZTEyZjlmZTk5ZTFkIiwidCI6IjdlZjYzNTczLTdmNmItNDNlZ

[2018-07-31 22:15] ryanbaumann commented on #207
cc/ @samgehret

[2018-07-31 22:51] samgehret commented on #207
@prathmj It looks like you have both circle layers and cluster layer enabled at the same time. We recommend you enable only cluster for this use case. When you zoom down to a lower level it will render the individual points. Let me know how this works for you.

[2018-07-31 22:53] samgehret commented on #206
Moved to v1.3 @stephshadwell

[2018-08-01 15:39] prathmj commented on #207
@samgehret Thanks for the response. Unfortunately it's still crashing if I leave just "cluster" on and also if I leave just "circle" on.

[2018-08-01 17:27] samgehret commented on #207
@prathmj can you send me over your .pbix file for your visualization? sam.gehret@mapbox.com

[2018-08-02 06:31] prateekraina opened #208 "Continuous color palettes with `0` in domain stops do not interpolate color values properly"
Hi,

I have created a report with sample data of 3 rows in which there is a Status Field having 3 values : 1,2 & 3
When I put this field in Color field the Med Color is not getting applied.

Attached file for reference.
[MapBox Issue.zip](https://github.com/mapbox/mapboxgl-powerbi/files/2252353/MapBox.Issue.zip)

Prateek Raina

[2018-08-03 03:11] ryanbaumann commented on #208
Is your Color a categorial (dimension) value @prateekraina?  If so, there is a special `data colors` format panel that will appear for categorical value color selection.

Documentation ticket for this - https://github.com/mapbox/mapboxgl-powerbi/issues/197

cc/ @samgehret

[2018-08-03 20:12] otravers commented on #82
@kalimar The two Power BI example links you posted don't load for me (HTTP ERROR 401), are they shared publicly?

[2018-08-03 20:22] ryanbaumann commented on #82
@otravers - @samgehret is working on our Power BI integration now.  @samgehret could you publish a sample PBIX file to the /examples folder in the repo?  Your FCC visualization would be perfect.

[2018-08-03 21:18] otravers opened #209 "Add ability to disable map controls"
Requirements:
- Be able to toggle the controls on/off at runtime without refreshing the visual.
- Add setting to capabilities.json to switch on/off

Similarly to how Power BI Desktop just added [fine-grained control](https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-july-2018-feature-summary/) over the visual header of each chart, it would be great to be able to hide each map tool (lasso,

[2018-08-03 23:46] samgehret commented on #209
@otravers Great feedback! Marking as a feature request for consideration. Really how you are using a minimap to drive the larger map!

[2018-08-04 00:25] samgehret commented on #82
@otravers the FCC example is now in the examples folder.

[2018-08-05 04:44] Mike-Honey commented on #205
I'm seeing the same issue - I can see the WebGL spinning cube in Chrome, but all Mapbox tiles show blank in Power BI Desktop (31 July build). I'm running Windows Server 2016 Datacentre on Azure VM, via Remote Desktop Connection.  Same PBIX works fine on my laptop.

[2018-08-05 15:01] otravers opened #210 "Add optional auto-generated legend"
It would be great to have the option to display a [legend](https://www.mapbox.com/help/extending-interactivity/#add-a-legend) that explains what Circle Color / Size, Choropleth Color, or Cluster Grouping are driven by. Below is a example taken from [this page](https://www.e-education.psu.edu/geog486/node/1869):

![image](https://user-images.githubusercontent.com/3731532/43687185-0a5cd7c2-989f-11e8

[2018-08-05 16:32] ryanbaumann commented on #210
Agree @otravers.  Would a legend palette similar to what is in Mapboxgl-Jupyter work here https://github.com/mapbox/mapboxgl-jupyter/pull/100#issuecomment-400011952?

Would you need the legend placed on top of the viz?  Or ideally could you move the legend to another viz element?

[2018-08-05 16:38] ryanbaumann commented on #205
Thanks for the report @Mike-Honey.  Sounds like this is the same root cause - running PBI Desktop on a server without a dedicated GPU does not support WebGL in the current July 2018 build.  Continuing to work with the Microsoft team to troubleshoot.

[2018-08-05 17:14] otravers commented on #210
@ryanbaumann yes what you've been working on in Mapboxgl-Jupyter is right on the money. Indeed it would be fantastic if the legend was a movable object. Even more awesome would be the ability to only display the legend in its own chart in the PBI canvas, so that it's effectively the legend to the whole dashboard.

[2018-08-05 18:27] ryanbaumann commented on #208
cc/ @samgehret

[2018-08-06 04:39] prateekraina commented on #208
Hi @ryanbaumann ,

Thanks for the response. I can settle with the workaround for now.

Regards,
Prateek Raina

[2018-08-06 20:05] samgehret commented on #203
@MikeAinOz Looks like Ryan helped you out here. Closing this issue. Feel free to re-open if this is not the case.

[2018-08-06 20:05] #203 closed

[2018-08-06 20:08] samgehret commented on #198
@PedroRiveraTorresMoir Cleaning up our github issues. Planning on closing this one in the next few days, so let me know if you are still experiencing this issue. Thanks!

[2018-08-07 15:52] PedroRiveraTorresMoir commented on #198
Thanks @ryanbaumann . We should have some interesting visuals coming up within the next few months. I'll share them as they come.

I tried to replicate the issue by changing the style but have been unsuccessful, so perhaps it was a strange local cache problem in my PC.

[2018-08-07 15:55] PedroRiveraTorresMoir commented on #188
Hi @samanpwbb , is there a timeline for this feature? The visual is already great but knowing this would be nice to factor it into our internal roadmaps. This feature is very important for our Architecture, Engineering and Construction flows, as it allows field workers to modify and publish datasets in studio to tilesets, and immediately have our PowerBI visuals update the rendering. Thanks for an

[2018-08-07 15:59] PedroRiveraTorresMoir commented on #92
Hi @samanpwbb, any news on this this feature? Knowing if there's a roadmap or not for it helps us determine how to prioritize the mapping efforts inside our companies.

Linestrings are often overlooked in Business Intelligence but they are almost as important for operational insights as polygons (think pipeline status for water and gas, road and pedestrian path traffic, and many many other applica

[2018-08-07 18:36] samgehret commented on #92
@PedroRiveraTorresMoir It's currently scoped into our [next release](https://github.com/mapbox/mapboxgl-powerbi/projects/3) and we are evaluating the LOE currently.

[2018-08-07 18:37] samgehret commented on #188
@PedroRiveraTorresMoir scoped into our next [release](https://github.com/mapbox/mapboxgl-powerbi/projects/3).

[2018-08-07 18:38] samgehret commented on #198
Thanks @PedroRiveraTorresMoir closing this issue.

[2018-08-07 18:38] #198 closed

[2018-08-08 01:42] riastrad opened #211 "Add Label Formatting"
![image](https://user-images.githubusercontent.com/16272584/43811484-adb1cf4e-9a8a-11e8-9124-8f6fa1394eaf.png)

[2018-08-08 15:25] ryanbaumann commented on #211
Additionally, while we work this, we should add label support for Circle layers.  Tracking in https://github.com/mapbox/mapboxgl-powerbi/issues/141

[2018-08-12 17:47] otravers opened #212 "Handle color selection like in default Power BI charts"
Currently Mapbox lets us define Mid / Med / Max / Highlight colors. First, that language is not consistent with PBI's default charts (Minimum / Center / Maximum). I think custom charts should remain as closely aligned with PBI defaults as possible in order to reduce the learning curve.

More importantly, Power BI default charts offer the ability to diverge colors by value (provided you select the

[2018-08-18 16:13] ryanbaumann commented on #212
Cc/ @samgehret

[2018-08-21 23:28] samgehret commented on #19
@baspeti added a requirements section into the initial comment.

[2018-08-22 13:27] indiciagerry commented on #180
No update on this issue?

[2018-08-22 15:11] ryanbaumann commented on #180
Cc/ @samgehret

[2018-08-23 04:38] samgehret commented on #180
@indiciagerry I will try to reproduce. Thanks for reporting it.

[2018-08-23 18:50] otravers commented on #68
If I'm not mistaken here's the ticket where this eventually landed:
https://github.com/mapbox/mapboxgl-powerbi/issues/188

[2018-08-23 18:51] otravers commented on #70
If I'm not mistaken this eventually landed in issue https://github.com/mapbox/mapboxgl-powerbi/issues/188

[2018-08-23 19:10] otravers opened #214 "Relative z-index values of Mabpox map layers vs. PBI charting?"
Maybe it's just me, but I find how z-indexes are rendered counter-intuitive in Mapbox for PBI. Consider the following screenshot:

![image](https://user-images.githubusercontent.com/3731532/44545318-20a4d980-a6eb-11e8-9aff-918aeae6eb9f.png)

The colored circles drawn by PBI are set to Opacity 100 (i.e. zero transparency), yet you can see the pink and blue boundaries and labels being drawn _over_ t

[2018-08-25 23:08] ryanbaumann commented on #214
Wold this solve your issue @otravers?  https://github.com/mapbox/mapboxgl-powerbi/issues/199

cc/ @samgehret

[2018-08-27 06:23] dbdave opened #215 "Can't add latitude and longitude from Powerbi (from dimensional attribute via SSAS)"
Not sure exactly when it started but older versions (early 2018) allow this, latest and at least the last few published do not.
I can't drag latitude or longitude from a dimensional attribute stored as a double. The attribute comes from SSAS stored as a double

Please let me know what extra info I can provide
![image](https://user-images.githubusercontent.com/3037794/44643817-3f6ddd80-aa15-11e8-97

[2018-08-27 06:25] dbdave commented on #215
note: when dragging from fields to visualizations the field is rejected int he latitude and longitude boxes.
it is working as I expect in version 1.1.3

[2018-08-27 22:44] otravers commented on #214
@ryanbaumann sorry I hadn't seen that issue, otherwise I'd have commented there. Yes, the option to draw PBI data over or under symbols would address my requirement.

[2018-08-28 22:10] samgehret commented on #215
@dbdave Sorry you are having that issue! Can you send over a .pbix file?

[2018-08-29 08:15] Mike-Honey opened #217 "Allow the setting of data colours for Choropleth shapes using a text field or measure"
Please extend the Mapbox Custom Visual to allow the setting of data colours for Choropleth shapes using a text field or measure that returns a text result.  The text field or measure would present a hex color code e.g. #FD6666.

Power BI already supports this for table/matrix visuals, for setting cell & font colours:
https://docs.microsoft.com/en-us/power-bi/desktop-conditional-table-formatting#co

[2018-08-29 21:43] samgehret commented on #70
Closing this as its addressed in https://github.com/mapbox/mapboxgl-powerbi/issues/188

[2018-08-29 21:43] #70 closed

[2018-08-29 22:04] dbdave commented on #215
@samgehret Managed to solve this one myself - SSAS was outputting my double as text for... ssas reasons. I've managed to make it work with a specific attribute value as the double which is now working as it should. Still not sure why it was working in 1.1.3 but I suspect it probably shouldn't have been working (which you guys have corrected at some point) as that could end up being expensive for l

[2018-08-29 22:04] #215 closed

[2018-08-30 00:30] samgehret commented on #217
@Mike-Honey I understand the conditional formatting for colors which will allow the user to set bands of values and colors associated with each band. But for something like Status = Poor is a particular shade of red, could you use the Data Colors functionality? I think you referenced it in this ticket to make documentation for this feature (we we are in the process of doing) https://github.com/map

[2018-08-30 12:08] szilardhuber commented on #188
@samgehret metric for `fill-extrusion-height` is meters in Mapbox GL JS API but for our sample dataset with US States and population we have to set it to 200000 meters to make the differences visible. Do you think we should add a 1000 multiplier to the height field (so user have to set 200 for 200.000 meters) or should we add this multiplier to the settings with a default value of 1000?

[2018-08-31 15:12] PedroRiveraTorresMoir opened #219 "Visual "disappeared""
I seem to have a disappearing problem. The Power BI Desktop report won't let me add a Mapbox visual because it's "already there" (I did in fact install it previously from the marketplace successfully), but it will no longer show as one of the options in the visuals gallery. It also won't show as an option when selecting "delete custom visual" from the visuals gallery. I had installed it and publis

[2018-08-31 15:18] PedroRiveraTorresMoir commented on #219
FYI I have now restarted the PC and now no custom visuals are displayed. Seems to be a recent Power BI Desktop mega-bug.

[2018-08-31 15:33] ryanbaumann commented on #219
cc/ @samgehret.  @PedroRiveraTorresMoir did you download a new version of Power BI Desktop that caused this?

[2018-08-31 15:37] PedroRiveraTorresMoir commented on #219
@ryanbaumann I have the Windows App Store version of Power BI Desktop, so it may have self-installed an update. What's most curious is that the visual didn't just disappear in Power BI Desktop, but also in Power BI Service (online) without any changes. It was simply gone from one day to the next. This makes me believe the Power BI team changed something on the back end or that one of the libraries

[2018-08-31 15:49] ryanbaumann commented on #219
OK.  Yes, I can replicate [on our examples online](https://app.powerbi.com/view?r=eyJrIjoiNTlkMzA5N2MtNGU0ZS00MDY5LTg1NTktNTZkODkyMmJjOThmIiwidCI6IjYyOWE3MGIyLTMyYjktNDEyNi05NTFlLTE3NjA0Y2Y0NTZlYyIsImMiOjF9).  We'll be in touch with the Power BI team, thank you.

[2018-08-31 18:53] samgehret commented on #219
@PedroRiveraTorresMoir The power bi team reported a bug on their end, which they say is resolved now. Can you please test again? Make sure to clear caches first. Thanks!

[2018-09-01 16:03] PedroRiveraTorresMoir commented on #219
@samgehret I can confirm it's now working correctly. Thanks!

[2018-09-01 18:32] #219 closed

[2018-09-03 14:41] ghost opened #225 "Hexagon grid and automatic binning (feature request)"
The ability to create a hexagon grid and then have it automatically count the data points would be a huge step forward in location data analytics within PowerBI. Anything that works towards this, even if its not fully automated at first, would be a great help.
So the result would be like the hexagonal bins created with full Mapbox and Turf, but syncronised to the rest of the dashboard.

I know I'm

[2018-09-03 22:02] ryanbaumann commented on #219
I'm not able to reproduce right now @PedroRiveraTorresMoir - can you link to your specific dashboard that's causing a problem or drop a sample PBIX file here?  Thanks!

[2018-09-03 22:06] ryanbaumann commented on #225
Great feature request @ChristopherWesson!  cc/ @samgehret

[2018-09-06 00:45] adamAdLad commented on #205
Hi Ryan

Any news on this one? Will the September version fix this? I have the same issue as Mike and Tony above. Both IE and Chrome show successful pages using the https://get.webgl.org pages.

The machine I connect to is a internal server is Intel(R) Xeon(R) CPU E5-2680 0 @2.70GHZ (12 processors) with 44 GB Ram running Windows Server 2016 64 bit OS. Display Adapater is  a VMware SVGA 3D Driver.

[2018-09-06 15:58] samgehret commented on #205
@adamAdLad @Mike-Honey,  As  @ryanbaumann Chrome has a software rendering component embedded so I think Web GL will work in chrome even if there is no GPU present. The respsonse from the Power BI team was that Power BI desktop has no web rendering component built in. That's why it works when you publish, because you are viewing through a browser interface instead of the Desktop interface.

Working

[2018-09-07 15:26] ChristopherWesson opened #227 "Slicers are having zero effect on the heat map"
The work to sync choropleths to the slicer filters is great, but why has this not been done across the board?

[2018-09-10 09:29] ghost opened #228 "Multiple levels issue on choropleth"
I've created a choropleth with 2 custom tilesets.
When I set the maximum and minimum zoom levels it changes then on both tile levels. Surely this is incorrect?

I want to use one level of custom boundaries (polygons) when 'zoomed out' and a more detailed set when 'zoomed in'.

[2018-09-11 21:20] jonathankapoor commented on #133
Hi all. I believe I found the issue relating to autozoom (my original ticket was 204). If the color field is left blank autozoom won't work. If the color field has a value it autozoom will work.

[2018-09-12 00:19] samgehret commented on #228
@ChristopherWesson Unfortunately, we can only have one choropleth layer exposed at a time. The only way to switch between them is drilling, so you can't switch between them using min/max zoom. However, your proposed functionality is a great idea and one we will consider for the future. Thanks!

[2018-09-12 19:32] samgehret commented on #201
@HeyStenson we have our compatibility information in the readme. Can we create a section on our help site as well? Do you think we need to?

[2018-09-12 21:46] HeyStenson commented on #201
@samgehret I think this information could be a good candidate for adding into the Troubleshooting guide we're working on. One thing to keep in mind, though, is that we'll need to stay on top of updating the info in both places (this repo's readme AND the troubleshooting guide) when changes occur.

[2018-09-13 19:56] ChristopherWesson commented on #227
The slicer I had was trying to filter the data by year.
________________________________
From: Sam Gehret <notifications@github.com>
Sent: Wednesday, September 12, 2018 1:23:26 AM
To: mapbox/mapboxgl-powerbi
Cc: Christopher Wesson; Mention
Subject: Re: [mapbox/mapboxgl-powerbi] Slicers are having zero effect on the heat map (#227)

@ChristopherWesson<https://github.com/ChristopherWesson> unfortuna

[2018-09-18 22:05] samgehret opened #233 "Integrate Mapbox Tilequery API with Choropleth Fill Maps"
Placeholder feature, needs to be built out.

Basically for any fill map... including those with custom polygons, the Mapbox CV would do some data prep to associate data points to specific polygons using our tilequery api:

https://www.mapbox.com/help/tilequery-api-playground/

That way, users can just use lat/long data and take advantage of fill maps without having to manicure data to match to pol

[2018-09-18 22:13] PedroRiveraTorresMoir commented on #233
Polygon heatmaps based on points density per polygon would be very interesting. I wonder how this would work when polygons are 3D extruded with a base height though (in the soon to be released visual), as lat, long pairs often miss the altitude property. Would this feature still work? Or would it only apply to base_height=0 polygons?

________________________________
From: Sam Gehret <notification

[2018-09-19 06:54] oflageul commented on #183
Hello,
I report the same issue but in my case I don't use the Choropleth option.

But it's the same, I had defined 3 colors on the map in Data Colors. If I save, close and re-open the pbix, the colors set differs. Generally, two data get the same color when I re-open the file.

I hope you can fix this.

Thank you!

[2018-09-19 20:48] samgehret commented on #209
@otravers available in beta: https://github.com/mapbox/mapboxgl-powerbi/blob/v1.3_beta/dist/mapboxGLMap.pbiviz

[2018-09-19 20:49] samgehret commented on #173
@indiciagerry available in beta https://github.com/mapbox/mapboxgl-powerbi/blob/v1.3_beta/dist/mapboxGLMap.pbiviz

[2018-09-19 20:50] samgehret commented on #133
@indiciagerry @Mike-Honey @mrjamesperry @otravers available in beta https://github.com/mapbox/mapboxgl-powerbi/blob/v1.3_beta/dist/mapboxGLMap.pbiviz

[2018-09-19 20:51] samgehret commented on #133
@jonathankapoor your issue should be fixed as well in beta ^^

[2018-09-20 20:15] samgehret opened #238 "Add in check for Web GL Support"
Add a check to see if Web GL is supported and show a message if it is not.

[2018-09-22 14:34] Mike-Honey commented on #217
@samgehret - that works but only for one visual instance. If you need multiple Mapbox visuals you would have to repeat setting the colors. Also with the current Data Colors functionality, every status value needs to be present in the data to allow setting it's color.  Sure thats the way most visuals and custom visuals work, but it is problematic.

[2018-09-23 20:30] ryanbaumann opened #240 "Convert legacy property functions to expressions"
Convert style layer properties for Choropleth and Choropleth-Extresion layers to Expressions.

In GL JS v0.49 there is no longer a performance regression using Expressions for the data join technique, which was the reason for using the legacy property functions when first released.

[2018-09-23 20:32] ryanbaumann opened #241 "Upgrade to GL JS v0.49 for 1.3-beta"
@samgehret

[2018-09-26 20:33] samgehret commented on #241
Upgraded in latest beta

[2018-09-26 20:33] #241 closed

[2018-09-26 21:46] samgehret commented on #208
Fixed this in the latest beta @prateekraina

[2018-10-01 12:53] stephshadwell opened #243 "Combine map types with chloropleth maps"
It would be a useful development, if you could combine the use of circle & chloropleth map types in 1 visualisation, as this would enable you to plot a geographic point(s) within the chloropleth fill. I have noticed that chloropleth maps are using the location field, where as venues are using latitude and longitude, so wondered if this would be a possible development to the visualisation. This wou

[2018-10-02 22:51] kbauhausness opened #244 "Add ability to create multiple circle layers representing different dataset columns"
Currently, it's not possible to create multiple circle layers. This ticket tracks the request for a feature allowing users to create multiple circle layers in Mapbox Visual for Power BI and represent them both on one map.

For example, one circle layer could show store locations and the other could show warehouse locations.

cc @samgehret

[2018-10-03 20:15] JayDoc386 commented on #183
Using the patch it fixed my issues of the colors shifting when using outside filters.  I am using the dot view not Choropleth option.  One thing I notice is that when setting the data colors, Unless I enter them view the Custom Color option it never sets the color that I select from the default listing of colors.  Example if I select blue it will set the color to Red.  If I set the color to Blue i

[2018-10-03 20:21] JayDoc386 commented on #183
On 1.4 I notice that in the Windows Power BI Mobile App it says "this machine doesnt support WebGL." It did not do that on 1.3 via the Mobile App.  It does work fine on Android and iOS via the Power BI App.  It also shows fine via the web version.

[2018-10-05 12:32] JayDoc386 opened #245 "Add Loading Notification"
For end-users, it would be nice if they could see a notification that says "Map Loading" or something so that they know that nothing is wrong.  In Microsoft Power BI when you have a Mapbox Visual embedded, it can take some time to load and all the user will see in the interim is a white screen where the map should be.  Example of this is when using the ESRI Map add-in for Power BI it actually show

[2018-10-07 20:29] ryanbaumann commented on #245
This is a current limitation of the Microsoft Custom Visual framework AFAIK because the custom visual code is injected into the sandboxed iframe as a final step after all other assets are loaded on the page.

I agree this would help the UX considerably - we'll work with the Microsoft team to see what improvements we can make.  Thanks, @JayDoc386!

[2018-10-10 05:03] TiffanyFHA opened #246 "No Choropleth Shapes Showed Up with My Uploaded Tileset"
I uploaded a small kml file to be a tileset in my account. I used a small sample excel data file to test in Power BI desktop with choropleth, but no custom shapes showed up on the map no matter how I zoomed in or out.

[2018-10-10 13:27] TiffanyFHA commented on #246
Uploaded a few screenshots to show my configuration

[2018-10-10 13:33] stephshadwell commented on #246
check what the field is called in the tileset. Essentially the Vector Property Level 1 text needs to match the name of the field in the tileset, the location field is matching with

[2018-10-10 16:52] TiffanyFHA commented on #246
Thanks Stephshadwell! Like you said, the location field name should be EXACTLY the same with the tileset property name.

[2018-10-10 16:52] #246 closed

[2018-10-10 16:58] PedroRiveraTorresMoir commented on #92
Hi @samgehret . Great progress with V3, this visual will be very helpful! Is there an ETA you could share on when this feature may be released?

[2018-10-11 12:03] stephshadwell commented on #206
just to say i have downloaded the beta version yesterday, and this does not seem to be fixed (assuming this fix should be in the latest beat viz), see screenshot below

![image](https://user-images.githubusercontent.com/41364065/46802636-ca9cfb80-cd55-11e8-80f8-bee0ff0c5e5c.png)

The crude hospitalisation rate is in the table showing with 2dp as per formatting in the data, but still showing with m

[2018-10-11 19:48] samgehret commented on #244
@kbauhaus this currently may be possible. if they have attributes associated with their lat/long points such as "Store" or "Warehouse", these circles could be colored based on those attributes. Power BI slicers could be used to show one or the other or both. Would this solve their use case?

[2018-10-15 12:29] iCatCat commented on #133
Hello,
I still have this problem even with a beta-version
![zoom](https://user-images.githubusercontent.com/24561276/46950941-b115ef80-d086-11e8-9d4a-9475fef61a6b.PNG)

[2018-10-16 23:47] warrendean81 opened #247 "3D extrusions on fill maps for Power Bi does not work"
From Link: https://blog.mapbox.com/six-new-features-for-mapbox-visual-for-power-bi-472e9e1d3998
3D extrusions on fill maps:
Add an extra dimension to your fill visualizations by using 3D extrusions. In addition to data-driven coloring of polygons, users can now add data-driven heights to these polygons as well. Just drop a metric into the “size” dimension and set your relative “extrusion height.”

[2018-10-17 00:04] ryanbaumann commented on #247
cc/ @samgehret

[2018-10-17 16:42] samgehret commented on #247
@warrendean81 thanks for reporting. The way Microsoft releases new versions of any custom visual involve clearing a series of caches after the visual is approved. So it basically gets released at different times for different users. The Extrusions should definitely be working for you over the next few days. However, I can confirm the feature works in the [beta version](https://github.com/mapbox/ma

[2018-10-17 20:42] mryckman commented on #247
@samgehret thanks for the info. For what it's worth, I tried the beta version in the link and I'm definitely seeing some new options - including the geocoder and extrusion settings in the choropleth layer. But if I try to add a field to the "size" thing I get the informational message that a choropleth can only have color and location properties. Am I doing something wrong?

[2018-10-17 20:50] samgehret commented on #247
@mryckman oh yeah! one thing that you might need to check is whether your circle layer is turned off. only choropleth should be enabled.

[2018-10-17 20:56] mryckman commented on #247
Thanks again, @samgehret ... I think I found it... and I probably just missed this myself. It seems you need both a color field and a size field. If I remove color and only use size, the error appears, but using both size and color makes it work as expected.

[2018-10-17 21:50] mryckman opened #248 "Highlight opacity"
I've noticed that the highlight color doesn't seem to pick up the opacity value. This can result in a disjointed feel, as well as a loss of information in street maps, when a region is selected. It would be nice if the highlight color used either the base opacity value or had an independent opacity value.

[2018-10-21 17:38] PedroRiveraTorresMoir commented on #188
/@samgehret how challenging would it be to create an alternative mode to choropleth height? The current version allows height to be defined by a client-side field. Another, very useful option would be to extract the height and base height properties of the vector source. This would allow us to, for example, be able to see a 3d building with different colors by floor based on occupancy for example.

[2018-10-21 18:45] ryanbaumann commented on #248
cc/ @samgehret

[2018-10-23 04:13] rwmnau commented on #244
This would work but there doesn't appear to be any way to set a "legend" property to color the circles separately - does this functionality exist? If it does, it would appear to answer this question and I'd love to use it!

[2018-10-23 09:37] katoen opened #249 "Implement report tooltip ability"
As per October '18 update support for report tooltips in custom visuals is generally available.
[link](https://docs.microsoft.com/en-us/business-applications-release-notes/October18/intelligence-platform/power-bi-custom-visuals/custom-visual-support-report-tooltips)

As a starting point, this seems like a good reference how to implement this:
[Add canvas tooltips support to sampleBarChart (#35)](h

[2018-10-25 14:30] samgehret commented on #247
This is live now... closing issue.

[2018-10-25 14:30] #247 closed

[2018-10-25 14:30] samgehret commented on #238
Closing, this is live now.

[2018-10-25 14:30] #238 closed

[2018-10-25 14:31] samgehret commented on #209
Closing, this is live

[2018-10-25 14:31] #209 closed

[2018-10-25 14:33] samgehret opened #250 "Extract Base and Height from vector source to see 3d buildings with different colors"
How challenging would it be to create an alternative mode to choropleth height? The current version allows height to be defined by a client-side field. Another, very useful option would be to extract the height and base height properties of the vector source. This would allow us to, for example, be able to see a 3d building with different colors by floor based on occupancy.

[2018-10-25 14:33] samgehret commented on #188
Closed this is live. @PedroRiveraTorresMoir tracking your new request here

https://github.com/mapbox/mapboxgl-powerbi/issues/250

[2018-10-25 14:33] #188 closed

[2018-10-25 14:34] samgehret commented on #182
Closed as live.

[2018-10-25 14:34] #182 closed

[2018-10-25 14:34] samgehret commented on #133
Closed this is live. @iCatCat are you able to send over a .pbix file? Should be working now.

[2018-10-25 14:35] samgehret commented on #19
Closed as live.

[2018-10-25 14:35] #19 closed

[2018-10-25 14:35] samgehret commented on #173
Closed as live.

[2018-10-25 14:35] #173 closed

[2018-10-25 14:35] samgehret commented on #208
This is live now.

[2018-10-25 14:35] #208 closed

[2018-10-29 17:51] skcary77 commented on #243
Agreed this would be extremely useful. I have tinkered with the code and been able to successfully plot both a circle & choropleth, but the issue seems to be with the color palette. I believe multiple color (or size) palettes are needed -- one for the choropleth layer and one for the circle layer. For example if you have a choropleth layer with only 5 colors necessary, but your circle layer has 10

[2018-10-29 20:23] JayDoc386 commented on #243
OMG, YES PLEASEEEEE!!!!!

[2018-10-31 11:25] flogan2000 commented on #180
@samgehret Is there any news on this? I have a table with 3 Data Types Job, Engineer and Office, there's 250k jobs which works fine on size for Job on own, or with Engineer.

If Office (Single point) as well Job and Engineer (50 points) still work but Office doesn't show.

If just Office and/or Engineer (and vice versa) they disappear. If I remove the Job Value in Size they all show.

[2018-11-02 01:48] Mike-Honey commented on #205
@samgehret - any update on this?

I'm now striking this in Power BI Desktop on a laptop (non-VM) which used to work fine.  I updating Mapbox CV to 1.3 didnt solve it (although it does now display a clear message). It's been a couple of months since I last worked on it so hard to isolate the cause - could be OS update, browser update, Power BI Desktop update ...

[2018-11-02 03:30] Mike-Honey opened #251 "Power BI Desktop shows Web GL error for Mapbox custom visuals"
I'm striking the Web GL error message in Power BI Desktop on a laptop which used to work fine up to late Sep. Updating Mapbox CV to 1.3 didnt solve it (although it does now display a clear message).

Web GL test page (https://get.webgl.org/) is working fine in Chrome, Edge, IE. Another test page (http://webglreport.com/) works fine in Chrome. Edge and IE works ok for "WebGL 1", but not "WebGL 2".

[2018-11-02 07:08] Mike-Honey opened #252 "Updating to Mapbox CV 1.3 is messy"
I have a file with existing Mapbox Custom Visuals. When I use the marketplace to update to Mapbox 1.3, it says it will update existing visuals.  This is normal for custom visuals.

However the update isn't actually working.  I'm left with 2 Mapbox icons in my Visualisation pane for that PBIX, and none of the existing visuals were updated. When I try to update the visuals manually (by clicking the

[2018-11-02 07:12] Mike-Honey commented on #206
I'm seeing the same issue, also using the current marketplace version 1.3.

[2018-11-02 07:15] Mike-Honey commented on #133
I just tested this using the current marketplace version 1.3.  With a 2-level map, the auto-zooming works nicely at the 2nd level. However when showing the top level and filtering the shapes (using a Slicer), the auto-zoom does not work - the map zoom doesn't change at all..

[2018-11-02 12:30] PedroRiveraTorresMoir commented on #133
Yes, auto zoom isn’t working for me either.

________________________________
From: Mike-Honey <notifications@github.com>
Sent: Friday, November 2, 2018 1:15:34 AM
To: mapbox/mapboxgl-powerbi
Cc: Subscribed
Subject: Re: [mapbox/mapboxgl-powerbi] Choropleth layer auto-zoom does not focus on the filtered zone (#133)

I just tested this using the current marketplace version 1.3. With a 2-level map, t

[2018-11-02 13:49] mcliston opened #253 "Mapbox / Power BI choropleth in IE and Edge"
Hi,
I'm trying to implement some choropleths in multiple types of browsers which I understand has been an issue because of the need for direct gpu support. My issue has been following the pattern of some past posts about this subject; Chrome works well (because software is driving the web GL rendering) and IE and Edge show either a blank screen or returns a message about the browser not supporting

[2018-11-02 14:30] ryanbaumann commented on #253
@mcliston hardware acceleration (or a software rendering fallback, like Chrome provides) is required on the device that accesses the Power BI report to view from PBI Server or Online.  No GPU is required on the PBI report server itself, only the client consuming it requires [WebGL](https://get.webgl.org/).

To make sure I understand your issue - you are unable to render a Mapbox map visual in a PB

[2018-11-02 14:32] ryanbaumann commented on #252
Thanks for the bug report @Mike-Honey.  What version of the Mapbox Visual are you upgrading from in your workbook to get to v1.3?

cc/ @samgehret

[2018-11-02 14:37] ryanbaumann commented on #251
Thanks, @Mike-Honey - this is a known issue for PBI desktop (external monitor support causes a webGL error).  I'm going to close this issue here since the broader issue of WebGL support in PBI Desktop is captured https://github.com/mapbox/mapboxgl-powerbi/issues/71, and we're continuing to work with the Power BI team on a solution that works with Mapbox Visual and PBI Desktop across more hardware.

[2018-11-02 14:37] #251 closed

[2018-11-02 14:41] ryanbaumann commented on #133
@Mike-Honey @PedroRiveraTorresMoir thanks for the report - we'll open up a new issue to capture the new bug cc/ @samgehret

[2018-11-02 14:41] #133 closed

[2018-11-02 14:47] mcliston commented on #253
@ryanbaumann thank you for the timely response. Yes, you are correct. I generated the visuals in Power BI desktop, uploaded to the report server, and then am trying to access them via Chrome/Edge/IE (Edge = no WebGL support message, IE = blank screen, Chrome = OK).

In regard to the marketplace, I access the mapbox option within Power BI desktop (adding the mapbox icon via the marketplace options)

[2018-11-03 01:56] Mike-Honey commented on #252
I expect it was v1.2, but I couldnt figure this out definitely. AFAIK there's no way to tell using the Power BI Desktop UI?

My usual trick is to rename the PBIX to a zip and explore the \Report\Custom Visuals folder. But there arent any subfolders named MapBox?  There are several named with a GUID starting PBI_CV_... .

After removing all the non-Mapbox custom visuals I was left with 3 of those f

[2018-11-03 02:11] Mike-Honey commented on #206
I found a workaround is to replace the automatic aggregation of the numeric field with a simple SUM Measure.

e.g.

`# Hectares = SUM( 'Protected Areas'[Hectares] )`

This is best practise anyway as it centralises and simplifies any further references to that field in other Measures.

[2018-11-03 16:19] tonmcg commented on #183
Here's a more concrete example of the issue:
The choropleth below shows the California county-level vote difference between Clinton and Trump -- the redder a county, the more votes went for Trump. And vice versa.

<img width="1564" alt="screen shot 2018-11-02 at 4 39 38 pm" src="https://user-images.githubusercontent.com/12642427/47939523-04c56d00-debe-11e8-89be-d87617247184.png">

When I select a

[2018-11-03 17:54] tonmcg opened #254 "Selected Choropleth Opacity does not apply on first workbook load"
When hovering over a polygon in a choropleth and then mousing out, the opacity for all polygons -- not just the polygon that was hovered over -- diminishes.
![choropleth color](https://user-images.githubusercontent.com/12642427/47955337-10bc3800-df6d-11e8-8b1c-e703df8e61b7.gif)

No click events are happening, just hover and mouseout events. In other words, on a mouseout event, the choropleth goes

[2018-11-04 00:07] ryanbaumann commented on #254
@tonmcg looks like your global opacity setting for the Choropleth layer is set to `55` - if you set it to `100` it should remain the same when you change hover/highlight. This is still a bug, however - we must not be applying the user-selected opacity value on initial map load until the first user interaction or filter.

nice looking workbook BTW, thanks for including the example!

[2018-11-04 00:07] ryanbaumann commented on #254
cc/ @samgehret

[2018-11-04 00:18] ryanbaumann commented on #253
Interesting.  I'm re-checking our IE and Edge support on the latest release.  I'm able to see Edge for sure - the no WebGL message could be a browser specific thing on the machine you're testing on.  Do you use an external monitor?

The IE blank screen is a great catch - digging into that now.  I'm seeing it too on https://app.powerbi.com/view?r=eyJrIjoiZmFiNjhhY2EtMGQwMi00YzZlLWJjMTQtZWRiMDEwYjcy

[2018-11-04 00:21] ryanbaumann opened #255 "IE 11 support does not work in v1.3"
# Issue

Loading a dashboard using the latest Mapbox Visual on the Office Store (v1.3) in IE11 does not work - a blank iframe is displayed and the following console error is shown `Promise is undefined`.  This could be from a change in GL JS v0.50.0, or it could be due to the addition of new code from v.1.2 to v1.3 that uses promises.

![](https://cl.ly/10ce2d9bc772/download/Image%202018-11-03%20a

[2018-11-04 00:23] ryanbaumann opened #256 "Create release notes for v1.3.0 launch on office store"
@samgehret

[2018-11-04 01:10] mcliston commented on #253
The machine that I am testing on is a desktop with external monitors (I recall seeing other posts talking about this, probably with you moderating). But I'm not positive if that setup requires extra drivers for those external monitors, if that is the issue. I'll be check come Monday.

In the meant time I'll get a hold of a machine with IE and Edge to check out the link you sent.

[2018-11-04 11:51] tonmcg opened #257 "Inconsistent auto zoom behavior on choropleth using external slicers"
The choropleth map shows inconsistent auto zoom behavior when filtering polygons using external slicers. [This PBIX report shows election results](https://github.com/tonmcg/spatial-analysis/blob/master/app/Power%20BI%20World%20Tour%20-%20Seattle.pbix) for every county in the U.S. When external slicers are used to filter either states or counties, the map doesn't consistently zoom in to the filtere

[2018-11-04 19:51] ryanbaumann opened #258 "Switch to `mirrored duplicate source` technique to increase performance of hover/highlight user interactions"
# Problem

Hover/Highlights can be slow to react to user input because `setFilter` is slow, specifically `mousemove` events.

# Solution

The ideal solution would be to use featureState for all user interactions - which we can do for Geojson sources used in Circle, Heatmap, and Cluster layers.

Since feature `id` values cannot be enforced easily for Choropleth layer Vector Tile sources, instead of

[2018-11-05 17:28] mcliston commented on #253
@ryanbaumann Just wondering if you foresee a solution to this on the horizon? Just wanted to give a client an update on options.

[2018-11-07 14:21] iCatCat commented on #253
Hello,
the choropleth layer doesn't work in Edge by me either. Firefox and Chrome are fine. I get the same error about Web GL and GPU.. I am using the newest 1.3 Mapbox version for PowerBI. What is interesting, that in the end of October (surely on the 19th of October), the same dashboard was correctly shown in Edge, with the same version of Power-Bi visual. So maybe it is the newest version of Ed

[2018-11-07 14:49] ryanbaumann commented on #253
Hi @iCatCat, what hardware and OS and Edge version are you running Edge on where the visual does not function with the Mapbox Visual for Power BI?  I'm unable to replicate this on my local machine.

[2018-11-07 15:24] stephshadwell opened #259 "Point disappears on circle map, when only 1 result return"
On the circle map type, if only 1 point returned, the map does not display the circle, see examples below (currently using v1.3 from app store)

**Multiple reports returned**
![image](https://user-images.githubusercontent.com/41364065/48140010-c950e700-e29f-11e8-85fa-7d0bac0cce64.png)

**Single point returned**
![image](https://user-images.githubusercontent.com/41364065/48140024-d40b7c00-e29f-11e8

[2018-11-07 15:51] iCatCat commented on #253
Hi @ryanbaumann
I have Windows 10 64 bit
Edge version: Microsoft Edge 41.16299.248.0 , Microsoft EdgeHTML 16.16299
Edge Screenshot:
![grafik](https://user-images.githubusercontent.com/24561276/48142456-21dab100-e2ad-11e8-9156-4b1399e84db1.png)
Firefox:
![grafik](https://user-images.githubusercontent.com/24561276/48142516-4171d980-e2ad-11e8-8eb3-722ee98062e2.png)

[2018-11-07 17:41] ryanbaumann commented on #253
Thanks @iCatCat - What does your hardware setup look like?  Can you type in Chrome `chrome://gpu/` and paste the results here?  Are you using a specific laptop or desktop model, or a VM?

[2018-11-07 19:00] samgehret commented on #201
This is live now:
https://www.mapbox.com/help/integrate-mapbox-visual-with-power-bi/

[2018-11-07 19:00] #201 closed

[2018-11-07 19:01] samgehret commented on #136
This is live now:
https://www.mapbox.com/help/integrate-mapbox-visual-with-power-bi/

[2018-11-07 19:01] #136 closed

[2018-11-07 19:01] samgehret commented on #197
This is live https://www.mapbox.com/help/integrate-mapbox-visual-with-power-bi/#style-dimensional-values-with-the-data-colors-feature

[2018-11-07 19:01] #197 closed

[2018-11-07 19:42] samgehret commented on #210
Implementation (work in progress)
- A legend option would need to be added for each layer type: circle, cluster, heatmap, and choropleth. It should be a toggle on/off.
- Choropleth / Extrusion should be the MVP: It should have a legend to explain the colors, and also explain the heights. It should also contain the metric name as well. For example:
![image](https://user-images.githubusercontent.com

[2018-11-08 02:46] tonmcg opened #260 "Choropleth hover and mouseover options"
Making available the following three options for the `hover` or `mouseover` events on polygons in a choropleth will create a much better user experience:

1. Ability to disable the highlight altogether. Often we may want nothing to happen when a user hovers over a polygon. The tooltip may convey all the information we need. See a toy example here:
![tooltip_hover](https://user-images.githubusercon

[2018-11-08 07:36] iCatCat commented on #253
@ryanbaumann to create my dashbaords I am using Power BI Desktop August 2018 Version.
To publish them we use Power BI Server Version 1.3.6801.38816 (August 2018), a local version, not cloud. It is installed on the remote server, not local on my pc.

Here is the GPU report from chrome:

**Graphics Feature Status**
Canvas: Hardware accelerated
Flash: Hardware accelerated
Flash Stage3D: Hardware acce

[2018-11-08 09:48] iCatCat commented on #206
Hello!
I have the same bug. I have 2 measures, that are formatted as %-numbers. Wenn I add only 1 measure to the tooltip it is displayed correctly (not always, but deleting the measure from the tooltip and adding it again or changing the order of fields helps most of the time). Wenn I add the second measure, it is also correct, but the previous measure ist not formatted anymore :) You can see it o

[2018-11-08 21:11] Mike-Honey commented on #206
Thanks for reporting @iCatCat - that's a subtle wrinkle I hadn't noticed.  I can repro that in my file by adding any other measure.  Only one of them is formatted correctly.

[2018-11-20 16:00] tmurray400 commented on #62
This still seems to be an issue in the latest version.

[2018-11-20 16:15] ryanbaumann commented on #62
@tmurray400 can you provide an example workbook for us to replicate the issue?

[2018-11-20 16:37] tmurray400 commented on #62
@ryanbaumann Here is a link to a sample workbook.
https://nexgenpss0-my.sharepoint.com/:u:/g/personal/tim_nexgenpss_com/EVxEwfe5q_pNjkBxdzc-U60BpBwJMYfz_mg8SDnKbQAivw?e=Tt1v0i

[2018-11-20 16:50] ryanbaumann commented on #62
Thanks @tmurray400.  Do you have values of 0 or null in your longitude latutde columns?

Cc/ @samgehret

[2018-11-20 16:53] tmurray400 commented on #62
@ryanbaumann they are blank values in a decimal field categorized as Latitude or Longitude.
![image](https://user-images.githubusercontent.com/45207678/48789379-e1bafb80-ecba-11e8-9a3c-75193c88a17f.png)

[2018-11-20 19:40] danielkorc opened #261 "[Feature] Add a measure distance tool"
MapBox PowerBI visualization is missing two key features - find location based on coordinates (geocoder only accepts addresses), ideally the coordinates format can be selected (not just basic Lat/Long); and the other feature missing is to measure distance between points or even better to show radius of ceertain distance. Any plans to implement that? That would make this visualization actually prac

[2018-11-21 01:35] djodonnell opened #262 "No ability to restrict the bounds of the map (for panning and zooming) in Power BI"
In Mapbox GL you have the ability to restrict the bounds of the map with respect to panning and zooming.

https://www.mapbox.com/mapbox-gl-js/example/restrict-bounds/

e.g. from Mapbox GL

[code]

We should have the ability to optionally restrict the bounds of the rendered map.  My use case in particular is rendering indoor floorplans and although I can render these on a "world map" the user still

[2018-11-21 01:40] djodonnell opened #263 "No ability to prevent zooming and panning of the map (aka "turn off interactivity") in Power BI"
There is currently no way to turn off map interactivity in Power BI.  This option is available in Mapbox GL.

https://www.mapbox.com/mapbox-gl-js/example/interactive-false/

e.g. taken from Mapbox GL

[code]
This option should be made available in Power BI as there are use cases where the initial map position needs to be fixed and you do not want the user being able to pan or zoom on the map.

[2018-11-21 01:44] djodonnell opened #264 "No ability to set the original map position and zoom level in Power BI"
Currently there is no ability to set the initial map position and zoom level in Power BI as is available with Mapbox GL.  I have tried to manually position the map and save the workbook (hoping that the position would be retained) but the map just returns to its default.

There are fields within Power BI that look like they should do the job under the map control: Viz Settings (zoom, longitude, la

[2018-11-21 04:34] ryanbaumann commented on #264
The fields in the pbi viz settings should work to save the map position - can you replicate the issue and provide a sample workbook?

[2018-11-21 04:35] ryanbaumann commented on #262
Thanks for the well written feature request!  Cc @samgehret

We should also consider adding an option to lock map position (no pan or zoom)

[2018-11-21 04:55] djodonnell commented on #264
Thanks for the quick reply Ryan.

I have done some further investigation and these fields do in fact work, but the control does not refresh (and apply the settings) until you select another sheet and then return to the original sheet containing the Mapbox map which causes it to re-render.

[2018-11-21 16:30] ryanbaumann commented on #264
Ah, that's interesting.  We can report this as a bug to PBI custom visuals - thanks @djodnnell

[2018-11-23 00:40] pablodidi commented on #92
@ryanbaumann @samgehret any news on this feature? We found this extremely powerfull. Choropleth layer with linestrings from a shape file in BI. We are looking for this for governmental purposes.

[2018-11-25 21:56] otravers opened #265 "Suggested QOL improvements to Choropleth settings"
I've wasted more time than I'd care to admit trying to get the right values in Source Layer Name and Vector Property Level. Mapbox Studio doesn't preview values for tilesets, which doesn't help in case you don't have the source file at hand. And in some cases I've quadrupled-checked and still get weird behavior, like Mapbox showing boundaries at level 2 that should be from level 1. This can get te

[2018-11-29 21:42] ryanbaumann commented on #265
This is great feedback, @otravers. Thank you for ticketing.

Adding one level of detail further here:

1. Populate the `source layer` and `vector property` with a dropdown list of available options after a user inputs their mapbox vector tile layer for the Choropleth.
2. Display metadata about the tileset in a preview table, including property data types, minzoom, and sample data values in the pro

[2018-11-29 21:42] ryanbaumann commented on #265
cc/ @samgehret

[2018-11-29 21:59] intothenight commented on #259
It would be great if this could be fixed

[2018-11-29 22:01] otravers commented on #265
@ryanbaumann yes that's a perfect summary.

[2018-11-30 04:49] ryanbaumann commented on #261
Great feature request, thank you for ticketing @danielkorc!

Summarizing the request below:

1. Allow `reverse geocoding`, with a user-specified coordinate format, inputs into the `search` input bar (to complement the `forward geocoding` name -> location capability currently in the visual)
2. Add a measurement tool between two points, in addition to the current drawing / selection tools

cc/ @samg

[2018-11-30 04:50] ryanbaumann commented on #260
Great, clear use case and feature request ticket @tonmcg.  Thank you.  We'll consider these features for upcoming releases.

cc/ @samgehret

[2018-11-30 04:52] ryanbaumann commented on #259
This is a bug to fix, thank you for highlighting @stephshadwell.  Do you have a sample PBIX workbook you could attach to the ticket for us to easily replicate with?

cc/ @samgehret

[2018-11-30 04:54] ryanbaumann commented on #258
We can evaluate using the new `validate: false` flag in Mapbox GL JS 0.52.0 (currently in beta) to see if it's an easier implementation to address this issue.

[2018-11-30 08:58] James-Henry31 opened #266 "User configurable domain values for layer min, med & max values"
Hi,

Following a conversations with Madison Draper (@mzdraper ) would it be possible to create input values when setting the min, med and max colors when using the choropleth mapping option in Power BI. The issue I am facing at the moment is that my data set is quite large and I am mapping this into LSOA areas. As the value colors are set automatically and are based off the total data set it means

[2018-12-03 10:07] stephshadwell commented on #259
@ryanbaumann  see attached example file with 3 examples
Example 1 - circles do not disappear (size option not used)
Example 2 - circles disappear (longitude, latitude, size & colour options used)
Example 3 - circles disappear (longitude, latitude & size used)

Hope that helps

[Example file - single point.zip](https://github.com/mapbox/mapboxgl-powerbi/files/2638978/Example.file.-.single.point.zip

[2018-12-03 14:11] indiciagerry commented on #259
Same as : https://github.com/mapbox/mapboxgl-powerbi/issues/180

[2018-12-03 14:51] ryanbaumann commented on #180
Consolidating this issue with https://github.com/mapbox/mapboxgl-powerbi/issues/259

[2018-12-03 14:51] #180 closed

[2018-12-03 15:23] otravers commented on #249
I second this. Here's a mockup where the report tooltip shows a place's photo. (That tooltip is actually from the table to the right of the map, but this shows the purpose and look & feel).

![image](https://user-images.githubusercontent.com/3731532/49382794-1173f580-f6f6-11e8-8bef-1d7b6a99ed03.png)

[2018-12-05 18:29] intothenight opened #267 "Viz Settings -> Auto Zoom creates plotting issues with multiple pages"
This option flag is critical in order to make the map interface dynamic (ie changing data, changes centre point and zoom). However given the time it takes for the visualization to completed its animation, the plotting happens mid animation and does not present the map at its intended final render.

This occurs when you have multiple pages, and any pages that are not currently selected and rendered

[2018-12-05 18:51] riastrad opened #268 "Include Support for Right-to-Left Language Labels"
Currently, if I try to change labels in a Custom Map style to a Right-to-Left language (e.g. Arabic, Farsi, Hebrew, etc.) the style displayed in Power BI will not properly render the labels.

In order to correct this, the Power BI plugin could add support for the r-to-l GL JS plugin: https://www.mapbox.com/mapbox-gl-js/example/mapbox-gl-rtl-text

This _should_ allow these custom styles to be rende

[2018-12-07 04:07] rwmnau opened #269 "Create option to make`circle-stroke-color` data-driven, just like circle-color in Circle layers"
I'd like to create a map using something like the general firefly style from the following article:

https://nation.maps.arcgis.com/apps/Cascade/index.html?appid=bf439954e2b64d418aedd2fe11217d83

I've found walkthroughs on the firefly glow effect, but it only supports a single point color as requires that I set a stroke color. I'd like to set the stroke color to "whatever the color of the point is

[2018-12-12 15:52] mjoseph155 commented on #266
Hi,

Also following a conversation with Madison Draper, I'll add my support to this change. In my case, I have 2 maps side by side, one choropleth map and one with circles on specific long/lat coordinates. In my use case I'd like to be able to click into  a country on the choropleth map, then show the circles with set colours depending on their value (e.g. 0-85, 85-99, 100 as 3 distinct colours) r

[2018-12-16 03:01] ryanbaumann commented on #267
Thanks for the bug report @intothenight - can you include a sample workbook or GIF of the issue?  cc/ @samgehret

[2019-01-07 18:46] samgehret opened #270 "Better Tooltip Control"
Only display field in tooltip, if they are specified in the tooltip field. Currently, if there is anything in the tooltip field, the map will display all the available fields in the report.

![image](https://user-images.githubusercontent.com/3859246/50786934-cfe0e800-1269-11e9-812d-48bd5d3242b4.png)

[2019-01-09 17:43] banwarp commented on #270
I would also like to have tooltip page support. I found this code snippet on the Power BI Github page:
https://microsoft.github.io/PowerBI-visuals/docs/how-to-guide/adding-report-page-tooltips/

"tooltips": {
        "supportedTypes": {
            "default": true,
            "canvas": true
        },
        "roles": [
            "tooltips"
        ]
}

I am not a developer, so I am hesitant to

[2019-01-09 18:47] banwarp commented on #270
Also, it seems that the Tooltip requires three decimal places when showing decimals. This means that if I want to show percentages without decimal places, the Tooltip inserts one or more zeros in front of the number. Thanks!

![tooltip1](https://user-images.githubusercontent.com/43013293/50921025-d606ce00-13fb-11e9-8b9c-77166bc0b951.png)
![tooltip2](https://user-images.githubusercontent.com/430132

[2019-01-09 19:00] banwarp opened #271 "Bug: Chloropleth colors don't follow imported theme"
I imported a theme to Power BI from a JSON file. I can see the theme when I select the Min, Med, and Max Color. However, once I select the color, it changes to match the Power BI default theme, not the custom theme I imported.

My work around is to select a custom color that matches the theme color, but this is obviously suboptimal.

Thanks!

[2019-01-10 06:39] samgehret commented on #210
Acceptance Criteria:

- [ ] Choropleth has a legend control for color only, no extrusion legend
- [ ] Circle Layer has a legend control, indicating color only
- [ ] Cluster layer has a legend control, indicating color only

Nice to have:
-[ ] Heatmap layer has a legend control for color
- Circle and Cluster layer has a legend control for size.

[2019-01-10 06:43] samgehret commented on #255
Acceptance Criteria:
- [ ] Visual should render in IE11 with no errors in console.

[2019-01-10 06:50] samgehret commented on #183
Acceptance Criteria:
- [ ] In capabilities.json make the Data Colors option GroupingOrMeasure
- [ ] When the first example in this issue, the color should not change as the user reported. Once the colors are set, they should never change without manually changing them.

[2019-01-11 01:01] samgehret commented on #270
Acceptance Criteria:
- [ ] When no dimensions are added to the tooltip field, the tooltip should be disabled.
- [ ] When a dimension is added to the tooltip field, ONLY those fields should come up in the tooltip. (currently when only one field is added, multiple appear like in the above screenshot).
- [ ] The number formats in the tooltip should match the format from the power bi data model (inclu

[2019-01-11 01:08] samgehret commented on #199
Acceptance Criteria:
- [ ] add a new dropdown option to "viz settings" called "Label Position." There should be 2 options for "Above data" and "Below data".

[2019-01-11 01:19] samgehret commented on #212
Acceptance Criteria:
- [ ] Within Circle and Choropleth, implement a toggle called "Diverging"
- [ ] When Diverging is enabled, Minimum, Center, and Maximum text boxes become available, such as in the above screenshot.
- [ ] Any value which is above the Maximum value will be the Max color.
- [ ] Any value which is below the Minimum value will be the Min Color.
- [ ] Values which are between Maximu

[2019-01-17 17:55] mzdraper opened #272 "Custom data in Mapbox Studio doesn't appear in PowerBI"
Two users have reported this issue.

### Steps to replicate
1. Create a new map style in Studio
2. Add custom point data
3. Publish the style & clear cache - Style URL loads a map with no errors
4. Open a PowerBI report
5. In the Viz settings, set the custom style to the newly created map
6. Check the console

![image](https://user-images.githubusercontent.com/25856619/51338008-89e00d00-1a3d-11e9-